
.c-boiling {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 375px;
    top: 115px;
  }

  .comment-boiling-right {
    top: -50px;
    right: 50px;
  }

  .comment-boiling-left {
    top: 180px;
    left: -88px;
  }

  .e-hops-bag {
    width: 114px;
    height: 92px;
    position: absolute;
    top: 0;
    left: 40px;
    background: url('../images/desktop/step3/hops_bag.svg') left center no-repeat;
  }

  .e-hops-item-container {
    position: absolute;
    top: 0;
    left: 98px;
  }

  .e-hops-item {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/desktop/step3/hop.svg');
  }

  .hop-item-1 {
    margin: 0 12px;
    -webkit-animation: drop .45s infinite 0.4s;
    animation: drop 1.8s infinite 0.4s;
    transform: rotate(45deg);
  }

  .hop-item-2 {
    margin: 0 20px;
    -webkit-animation: drop .75s infinite 1.50s;
    animation: drop 2s infinite 1.50s;
    transform: rotate(45deg);
  }

  .hop-item-3 {
    margin: 0 28px;
    -webkit-animation: drop .74s infinite 2.50s;
    animation: drop 2.2s infinite 2.50s;
    transform: rotate(90deg);
  }

  .hop-item-4 {
    margin: 0 36px;
    -webkit-animation: drop .75s infinite 3.75s;
    animation: drop 1.9s infinite 3.75s;
  }

  .hop-item-5 {
    margin: 0 44px;
    -webkit-animation: drop .75s infinite 4.75s;
    animation: drop 2.3s infinite 4.75s;
  }

  .e-steam-top {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .e-boiling-tank {
    width: 280px;
    height: 165px;
    padding-top: 125px;
    position: absolute;
    top: 218px;
    left: calc(50% - 3px);
    transform: translateX(-50%);
    overflow: hidden;
  }

  .thermometer {
    display: inline-block;
    position: absolute;
    top: 153px;
    right: 161px;

    svg {
      width: 38px;
    }
  }

  .e-boiling-items-container {
    width: 100%;
    height: 86px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: rgba(249, 223, 0, 1);
  }

  .e-boil-item {
    width: 25px;
    height: 50px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/desktop/step3/bubbles.svg');
  }

  .boil-item-1 {
    margin-left: 100px;
    -webkit-animation: boil .75s infinite;
    animation: boil .75s infinite;
  }
  .boil-item-2 {
    margin-left: 75px;
    -webkit-animation: boil .75s infinite 1s;
    animation: boil .75s infinite 1s;
  }
  .boil-item-3 {
    margin-left: 150px;
    -webkit-animation: boil .75s infinite 2s;
    animation: boil .75s infinite 2s;
  }
  .boil-item-4 {
    margin-left: 30px;
    -webkit-animation: boil .75s infinite 3s;
    animation: boil .75s infinite 3s;
  }
  .boil-item-5 {
    margin-left: 180px;
    -webkit-animation: boil .75s infinite 4s;
    animation: boil .75s infinite 4s;
  }
  .boil-item-6 {
    margin-left: 5px;
    -webkit-animation: boil .75s infinite 5s;
    animation: boil .75s infinite 5s;
  }
  .boil-item-7 {
    margin-left: 210px;
    -webkit-animation: boil .75s infinite 6s;
    animation: boil .75s infinite 6s;
  }

  .boil-item-8 {
    margin-left: 240px;
    -webkit-animation: boil .55s infinite 3.5s;
    animation: boil .55s infinite 3.5s;
  }

  /* waves start */

  .water {
    .wave {
      width: 200%;
      position: absolute;

      &.back {
        top: 62px;
        right: 0;
        fill: #FBAB29;
        animation: wave-back 1.4s infinite linear;
      }

      &.front {
        top: 62px;
        left: 0;
        fill: #F9DF00;
        margin-bottom: -1px;
        animation: wave-front .7s infinite linear;
      }
    }
  }

  /* waves end */
  .c-burst {
    width: 184px;
    height: 141px;
    background-image: url('../images/desktop/step3/burst_spritesheet_6f_184x141_1116_optimised.png');
    animation: burst 1s steps(6) infinite;
    position: absolute;
    left: 394px;
    top: 363px;
    transform: rotate(130deg);
  }
  .c-zigzag-three {
    width: 113px;
    height: 62px;
    bottom: 28px;
    left: 78px;
    background-image: url('../images/desktop/step3/zigzag3_spritesheet_9f_113x62_1017_optimised.png');
    animation: zigzagThree 1.5s steps(9) infinite;
    position: absolute;
    transform: rotate(110deg);
  }

  .c-zigzag-four {
    width: 169px;
    height: 155px;
    top: -45px;
    left: 150px;
    background-image: url('../images/desktop/step3/zigzag4_spritesheet_24f_169x155_4296_optimized.png');
    animation: zigzagFour 1.5s steps(24) infinite;
    position: absolute;
    transform: rotate(128deg);
  }
  .c-zigzag-five {
    width: 222px;
    height: 127px;
    background-image: url('../images/desktop/step3/zigzag5_spritesheet_31f_222x127_7192_optimized.png');
    animation: zigzagFive 1.5s steps(31) infinite;
    position: absolute;
    top: 106px;
    transform: rotate(-120deg);
  }
}