
.c-boiling {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 375px;
    top: 115px;
  }

  .title-boiling {
    width: 136px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 47px;
  }

  .comment-boiling-right {
    top: 35px;
    right: 27px;
  }

  .comment-boiling-left {
    top: 143px;
    left: -46px;
  }

  .e-hops-bag {
    width: 114px;
    height: 92px;
    position: absolute;
    top: 0;
    left: 40px;
    background: url('../images/desktop/step3/boiling-ingredient-bag.svg') left center no-repeat;
    
  }

  .e-hops-item-container {
    position: absolute;
    top: 0;
    left: 98px;
  }

  .e-hops-item {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .hop-item-1 {
    margin: 0 12px;
    @include animation(drop 1.8s infinite 0.4s);
    @include transform(rotate(45deg));
    background-image: url('../images/desktop/step3/bag-items/boiling-hop.svg');
  }

  .hop-item-2 {
    height: 35px;
    margin: 0 20px;
    @include animation(drop 2s infinite 1.50s);
    @include transform(rotate(45deg));
    background-image: url('../images/desktop/step3/bag-items/boiling-leaf.svg');
  }

  .hop-item-3 {
    margin: 0 28px;
    @include animation(drop 2.2s infinite 2.50s);
    @include transform(rotate(90deg));
    background-image: url('../images/desktop/step3/bag-items/boiling-lime.svg');
  }

  .hop-item-4 {
    height: 70px;
    margin: 0 36px;
    top: -30px;
    @include animation(drop 1.9s infinite 3.75s);
    background-image: url('../images/desktop/step3/bag-items/boiling-pepper.svg');
  }

  .hop-item-5 {
    margin: 0 44px;
    @include animation(drop 2.3s infinite 4.75s);
    background-image: url('../images/desktop/step3/bag-items/boiling-waterMelon.svg');
  }
  .hop-item-6 {
    margin: 0 44px;
    @include animation(drop 2.3s infinite 4.75s);
    background-image: url('../images/desktop/step3/bag-items/boiling-wizardry.svg');
  }

  .e-steam-top {
    position: absolute;
    top: 40px;
    left: 50%;
    @include transform(translateX(-50%));
  }

  .e-boiling-tank {
    width: 280px;
    height: 165px;
    padding-top: 125px;
    position: absolute;
    top: 218px;
    left: calc(50% - 3px);
    @include transform(translateX(-50%));
    overflow: hidden;
  }

  .thermometer {
    display: inline-block;
    position: absolute;
    top: 153px;
    right: 161px;

    svg {
      width: 38px;
    }
  }

  .e-boiling-items-container {
    width: 100%;
    height: 86px;
    position: absolute;
    left: 50%;
    bottom: 0;
    @include transform(translateX(-50%));
    background-color: rgba(249, 223, 0, 1);
  }

  .e-boil-item {
    width: 25px;
    height: 50px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/desktop/step3/bubbles.svg');
    @include animation-name(boil);
    @include animation-iteration-count(infinite);
    @include animation-duration(.75s);
    will-change: transform;
  }

  .boil-item-1 {
    margin-left: 100px;
  }
  .boil-item-2 {
    margin-left: 75px;
    @include animation-delay(1s);
  }
  .boil-item-3 {
    margin-left: 150px;
    @include animation-delay(2s);
  }
  .boil-item-4 {
    margin-left: 30px;
    @include animation-delay(3s);
  }
  .boil-item-5 {
    margin-left: 180px;
    @include animation-delay(4s);
  }
  .boil-item-6 {
    margin-left: 5px;
    @include animation-delay(5s);
  }
  .boil-item-7 {
    margin-left: 210px;
    @include animation-delay(6s);
  }

  .boil-item-8 {
    margin-left: 240px;
    @include animation-duration(.55s);
    @include animation-delay(3.5s);
  }

  /* waves start */

  .water {
    .wave {
      width: 200%;
      position: absolute;
      will-change: transform;

      &.back {
        top: 62px;
        right: 0;
        fill: #FBAB29;
        @include animation(wave-back 1.4s infinite linear);

      }

      &.front {
        top: 62px;
        left: 0;
        fill: #F9DF00;
        margin-bottom: -1px;
        @include animation(wave-front .7s infinite linear);
      }
    }
  }

  /* waves end */
  .c-burst {
    width: 184px;
    height: 141px;
    position: absolute;
    left: 394px;
    top: 363px;
    background-image: url('../images/desktop/step3/burst_spritesheet_6f_184x141_1116_optimised.png');
    @include animation(burst 1s steps(6) infinite);
    @include transform(rotate(130deg));
  }
  .c-zigzag-three {
    width: 113px;
    height: 62px;
    position: absolute;
    bottom: 28px;
    left: 78px;
    background-image: url('../images/desktop/step3/zigzag3_spritesheet_9f_113x62_1017_optimised.png');
    @include animation(zigzagThree 1.5s steps(9) infinite);
    @include transform(rotate(110deg));
  }

  .c-zigzag-four {
    width: 169px;
    height: 155px;
    position: absolute;
    top: -45px;
    left: 150px;
    background-image: url('../images/desktop/step3/zigzag4_spritesheet_24f_169x155_4296_optimized.png');
    @include animation(zigzagFour 1.5s steps(24) infinite);
    @include transform(rotate(128deg));
  }
  .c-zigzag-five {
    width: 222px;
    height: 127px;
    position: absolute;
    top: 106px;
    @include animation(zigzagFive 1.5s steps(31) infinite);
    background-image: url('../images/desktop/step3/zigzag5_spritesheet_31f_222x127_7192_optimized.png');
    @include transform(rotate(-120deg));
  }
}