
.c-boiling {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(255,165,0, 0.2);

  .e-hops-bag {
    width: 90px;
    height: 80px;
    position: absolute;
    left: 100px;
    background: url('../images/desktop/step3/hops-bag.png') left center no-repeat;
  }

  .e-hops-item-container {
    position: absolute;
    left: 150px;
  }

  .e-hops-item {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .hop-item-1 {
    margin: 0 12px;
    background-image: url('../images/desktop/step3/hop.png');
    -webkit-animation: drop .45s infinite 0.4s;
    animation: drop 1.8s infinite 0.4s;
  }

  .hop-item-2 {
    margin: 0 20px;
    background-image: url('../images/desktop/step3/hop.png');
    -webkit-animation: drop .75s infinite 1.50s;
    animation: drop 2s infinite 1.50s;
  }

  .hop-item-3 {
    margin: 0 28px;
    background-image: url('../images/desktop/step3/hop.png');
    -webkit-animation: drop .74s infinite 2.50s;
    animation: drop 2.2s infinite 2.50s;
  }

  .hop-item-4 {
    margin: 0 36px;
    background-image: url('../images/desktop/step3/hop.png');
    -webkit-animation: drop .75s infinite 3.75s;
    animation: drop 1.9s infinite 3.75s;
  }

  .hop-item-5 {
    margin: 0 44px;
    background-image: url('../images/desktop/step3/hop.png');
    -webkit-animation: drop .75s infinite 4.75s;
    animation: drop 2.3s infinite 4.75s;
  }
   @-webkit-keyframes drop {
    0% {
      opacity: 0;
      transform: translateX(-10px) translateY(50px);
    }
    25% {
      transform: translateX(10px) translateY(50px);
    }
    50% {

    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(10px) translateY(220px);
    }
  }

  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateX(-10px) translateY(50px);
    }
    25% {
      transform: translateX(10px) translateY(50px);
    }
    50% {

    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(10px) translateY(220px);
      opacity: 0;
    }
  }

  .e-steam-top {
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: rgba(orange,.2);
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
  }

  .e-boiling-tank {
    width: 400px;
    height: 360px;
    padding-top: 125px;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    //-webkit-clip-path: url(#svgClipPathBoil);
    //clip-path: url(#svgClipPathBoil);
    background-image: url('../images/desktop/step3/boil-tank.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .e-boiling-items-container {
    width: 100%;
    height: 207px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: rgba(blue,.5);
  }
  .e-boil-item {
    width: 25px;
    height: 50px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .boil-item-1 {
    margin-left: 100px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite;
    animation: boil .75s infinite;
  }
  .boil-item-2 {
    margin-left: 75px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite 1s;
    animation: boil .75s infinite 1s;
  }
  .boil-item-3 {
    margin-left: 150px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite 2s;
    animation: boil .75s infinite 2s;
  }
  .boil-item-4 {
    margin-left: 30px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite 3s;
    animation: boil .75s infinite 3s;
  }
  .boil-item-5 {
    margin-left: 180px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite 4s;
    animation: boil .75s infinite 4s;
  }
  .boil-item-6 {
    margin-left: 5px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite 5s;
    animation: boil .75s infinite 5s;
  }
  .boil-item-6 {
    margin-left: 210px;
    background-image: url('../images/desktop/step3/bubbles.png');
    -webkit-animation: boil .45s infinite 6s;
    animation: boil .75s infinite 6s;
  }

     @-webkit-keyframes boil {
    0% {
      opacity: 0;
      transform: translateX(10px) translateY(220px);
    }
    25% {
      opacity: 1;
    }
    50% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 0;
      transform: translateX(-10px) translateY(50px);
    }
  }

  @keyframes boil {
    0% {
      opacity: 0;
      transform: translateX(10px) translateY(220px);
    }
    25% {
      opacity: 1;
    }
    50% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 0;
      transform: translateX(-10px) translateY(50px);
    }
  }

  /* waves start */

  .water {
    .wave {
      width: 200%;
      position: absolute;

      &.back {
        right: 0;
        fill: #2c7fbe;
        animation: wave-back 1.4s infinite linear;
      }

      &.front {
        left: 0;
        fill: #32bafa;
        margin-bottom: -1px;
        animation: wave-front .7s infinite linear;
      }
    }
  }
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }

  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }


  /* waves end */
}