
.c-bottling-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 800px;
  pointer-events: none;
  background-color: rgba(purple,.2);

  .e-label {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}