
.c-cooling-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 459px;
    top: 15px;
  }

  .title-cooling {
    top: 75px;
    right: 160px;
  }

  .comment-cooling {
    top: 108px;
    left: 35px;
  }
}