
.c-end-pop {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  pointer-events: none;
}

.e-pop-face {
  width: 130px;
  height: 120px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.e-beerFace {
  top: 20px;
  left: 200px;
  background-image: url('../images/desktop/step7/pop_beerFace.svg');
}
.e-hmmFace {
  top: 50px;
  right: 200px;
  background-image: url('../images/desktop/step7/pop_hmmFace.svg');
}
.e-musicFace {
  top: 275px;
  right: 250px;
  background-image: url('../images/desktop/step7/pop_musicFace.svg');
}