
.c-fermenting {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 358px;
    top: 66px;
    left: 46px;
  }
}

.title-fermenting {
  bottom: 20px;
  left: 193px;
}

.comment-fermenting {
  top: 45px;
  right: 16px;
}

.e-window {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 240px;
  left: 40px;
  right: 0;
  z-index: -1;
  background-color: #F9DF00;

  .window-relative-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .window-item {
    position: absolute;
  }
  .cell {
    width: 13px;
    height: 13px;

    &:nth-of-type(1) {
      background-image: url('../images/desktop/step5/cell.svg');
    }
    &:nth-of-type(2) {
      width: 15px;
      height: 21px;
      background-image: url('../images/desktop/step5/merging-cell.svg');
    }
    &:nth-of-type(3) {
      background-image: url('../images/desktop/step5/cell.svg');
    }
    &:nth-of-type(4) {
      width: 15px;
      height: 21px;
      background-image: url('../images/desktop/step5/merging-cell.svg');
    }
  }

  .sperma {
    width: 30px;
    height: 15px;
    top: 20px;
    left: -18px;
    will-change: transform;
    //background-image: url('../images/desktop/step5/sperma_spritesheet_6f_68x15_408_optimised.png');
    background-image: url('../images/desktop/step5/sperma.svg');
    background-size: contain;
    background-repeat: no-repeat;
    @include animation(swimRight 2.25s linear infinite 2.5s);

    &.swim-left {
      top: 0;
      left: auto;
      right: 10px;
      @include transform(rotate(90deg));
      @include animation(swimLeft 2.50s linear infinite 4s, spermSwim 0.4s steps(6) infinite );
    }
  }
}
//
//@include keyframes(spermSwim) {
//  from {
//    background-position: 0;
//  }
//  to {
//    background-position: 408px;
//  }
//}

.c-fermenting-foreground {

  .e-notes {
    width: 55px;
    height: 110px;
    left: 40px;
    bottom: 150px;
    background-image: url('../images/desktop/step5/note-first.svg');
    @include fermenting-fg-item();
  }

  .e-note {
    width: 50px;
    height: 110px;
    right: -50px;
    bottom: 180px;
    background-image: url('../images/desktop/step5/note-second.svg');
    @include fermenting-fg-item();

    &:nth-of-type(2) {
      bottom: 90px;
    }
  }

  .e-drum {
    width: 77px;
    height: 92px;
    left: 65px;
    bottom: 70px;
    background-image: url('../images/desktop/step5/drum.svg');
    @include fermenting-fg-item();
  }

  .e-guitar {
    width: 52px;
    height: 159px;
    right: 30px;
    bottom: 135px;
    background-image: url('../images/desktop/step5/guitar.svg');
    @include fermenting-fg-item();
  }

  .e-flumpje {
    width: 92px;
    height: 114px;
    left: 135px;
    bottom: 90px;
    background-image: url('../images/desktop/step5/flumpjes-left.svg');
    @include fermenting-fg-item();
    @include animation(floatLeft 2.50s linear infinite 4s);

    &.right {
      left: auto;
      right: 105px;
      background-image: url('../images/desktop/step5/flumpjes-right.svg');
      @include animation(floatRight 2.50s linear infinite 4s);
    }
  }

  .e-drink {
    width: 72px;
    height: 111px;
    left: 165px;
    bottom: 220px;
    background-image: url('../images/desktop/step5/drink.svg');
    @include fermenting-fg-item();
  }
}