
.c-fermenting {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 358px;
    top: 66px;
    left: 46px;
  }
}

.e-window {
  width:100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 240px;
  left: 40px;
  right: 0;
  z-index: -1; //-1

  .window-relative-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .window-item {
    position: absolute;
  }
  .cell {
    width: 13px;
    height: 13px;

    &:nth-of-type(1) {
      background-image: url('../images/desktop/step5/cell.svg');
    }
    &:nth-of-type(2) {
      width: 15px;
      height: 21px;
      background-image: url('../images/desktop/step5/merging-cell.svg');
    }
    &:nth-of-type(3) {
      background-image: url('../images/desktop/step5/cell.svg');
    }
    &:nth-of-type(4) {
      width: 15px;
      height: 21px;
      background-image: url('../images/desktop/step5/merging-cell.svg');
    }
  }

  .sperma {
    width: 33px;
    height: 20px;
    top: 20px;
    left: -18px;
    background-image: url('../images/desktop/step5/sperma.svg');
    background-size: contain;
    background-repeat: no-repeat;
    animation: swimRight 2.25s linear infinite 2.5s;

    &.swim-left {
      top: 0;
      left: auto;
      right: 10px;
      transform: rotate(90deg);
      animation: swimLeft 2.50s linear infinite 4s;
    }
  }
}

.c-fermenting-foreground {

  .e-notes {
    width: 85px;
    height: 110px;
    right: 50px;
    top: 50px;
    background-image: url('../images/desktop/step5/notes.svg');
    @include fermenting-fg-item();
  }

  .e-drum {
    width: 77px;
    height: 92px;
    left: 10px;
    bottom: 80px;
    background-image: url('../images/desktop/step5/drum.svg');
    @include fermenting-fg-item();
  }

  .e-guitar {
    width: 83px;
    height: 135px;
    right: 13px;
    bottom: 135px;
    background-image: url('../images/desktop/step5/guitar.svg');
    @include fermenting-fg-item();
  }

  .e-flumpje {
    width: 92px;
    height: 114px;
    left: 135px;
    bottom: 90px;
    background-image: url('../images/desktop/step5/flumpjes-left.svg');
    @include fermenting-fg-item();
    animation: floatLeft 2.50s linear infinite 4s;

    &.right {
      left: auto;
      right: 105px;
      background-image: url('../images/desktop/step5/flumpjes-right.svg');
      animation: floatRight 2.50s linear infinite 4s;
    }
  }

  .e-drink {
    width: 72px;
    height: 111px;
    left: 25px;
    bottom: 220px;
    background-image: url('../images/desktop/step5/drink.svg');
    @include fermenting-fg-item();
  }


  .c-sperma {
    width: 222px;
    height: 50px;
    background-image: url('../images/desktop/step5/sperma_spritesheet_12f_222x50_2664_optimised.png');
    animation: sperma 0.9s steps(12) infinite;
    position: absolute;
    right: 0;
    top: 0;
  }
}