
.c-fermenting {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 358px;
    top: 66px;
    left: 46px;
  }

  .e-window {
    width:100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 240px;
    left: 40px;
    right: 0;
    background-color: black;
    z-index: -1;
  }
}


.c-fermenting-foreground {

  .e-notes {
    width: 85px;
    height: 110px;
    right: 50px;
    top: 50px;
    background-image: url('../images/desktop/step5/notes.svg');
    @include fermenting-fg-item();
  }

  .e-drum {
    width: 77px;
    height: 92px;
    right: 10px;
    bottom: 150px;
    background-image: url('../images/desktop/step5/drum.svg');
    @include fermenting-fg-item();
  }

  .e-guitar {
    width: 83px;
    height: 135px;
    right: 83px;
    bottom: 135px;
    background-image: url('../images/desktop/step5/guitar.svg');
    @include fermenting-fg-item();
  }

  .e-flumpje {
    width: 92px;
    height: 114px;
    left: 125px;
    bottom: 50px;
    background-image: url('../images/desktop/step5/fluempjes.svg');
    @include fermenting-fg-item();
  }

  .e-drink {
    width: 72px;
    height: 111px;
    left: 25px;
    bottom: 250px;
    background-image: url('../images/desktop/step5/drink.svg');
    @include fermenting-fg-item();
  }


  .c-sperma {
    width: 222px;
    height: 50px;
    background-image: url('../images/desktop/step5/sperma_spritesheet_12f_222x50_2664_optimised.png');
    animation: sperma 0.9s steps(12) infinite;
    position: absolute;
    right: 0;
    top: 0;
  }

  @keyframes sperma {
    from { background-position: 0; }
    to { background-position: 2664px; }
  }
}