
.c-magic-cloud {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  pointer-events: none;

  .e-bottle-cap {
    width: 830px;
    height: 420px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/desktop/step1/cloud_cap_title.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.float {
    @include animation(Floating 3s infinite ease-in-out);
}
