
.c-magic-cloud {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  pointer-events: none;
  background-image: url('../images/desktop/step1/magic_spritesheet_15f_1000x500_15000_optimised.png');
  background-position: left center;
  animation: magicPuff 1.2s steps(15) infinite;

  &.replica {
    z-index: $z-5;
    transform: translateX(8000px);
  }

  &.fading {
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
  }

  &.loaded {
    opacity: 1;
  }

  &.unloaded {
    opacity: 0;
  }
  .e-bottle-cap {
    width: 459px;
    height: 356px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/desktop/step1/cap.svg');
  }
}

.e-magic-title {
  width: 292px;
  height: 135px;
  margin: auto;
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  //transform: matrix3d(1,0,1,0,0,1,1,0,0,0,1,0,0,0,0,1);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/desktop/step1/cloud_title.png');
}

.float {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}
