
.c-magic-cloud {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  pointer-events: none;
  background-image: url('../images/desktop/step1/magic_spritesheet_15f_1000x500_15000_optimised.png');
  background-position: left center;
  @include animation(magicPuff 1.2s steps(15) infinite);

  .e-bottle-cap {
    width: 459px;
    height: 356px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/desktop/step1/cap.svg');
  }
}

.e-magic-title {
  width: 292px;
  height: 135px;
  margin: auto;
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/desktop/step1/cloud_title.png');
}

.float {
    @include animation(Floating 3s infinite ease-in-out);
}
