
.c-milling-mashing {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  //background-image: url('../images/desktop/step2/bg.png');
  //background-repeat: no-repeat;
  //background-position: left center;
  pointer-events: none;

  svg { // TEST
    width: 290px;
    top: 60px;
    left: 46px;
  }

  .e-cloud {
    width: 150px;
    height: 90px;
    margin: 0 auto;
    background: url('../images/desktop/step2/cloud.png') left center no-repeat;
    background-size: contain;
    animation: cloud .8s steps(3) infinite;
  }

  /*@keyframes cloud {
      100% { background-position: -1002px; }
  }*/

  .e-grain-container {
    width: 150px;
    height: 200px;
    top: -100px;
    position: relative;
    margin: 0 auto;
  }
  .e-grain {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    background: url('../images/desktop/step2/malt-1.png') center center no-repeat;
  }
  .e-grain-1 {
    margin: 0 12px;
    -webkit-animation: drip .45s infinite;
    animation: drip .75s infinite;
  }
  .e-grain-2 {
    margin: 0 25px;
    -webkit-animation: drip .45s infinite 1s;
    animation: drip .75s infinite 1s;
  }
  .e-grain-3 {
    margin: 0 50px;
    -webkit-animation: drip .45s infinite 2s;
    animation: drip .75s infinite 2s;
  }
  .e-grain-4 {
    margin: 0 75px;
    -webkit-animation: drip .45s infinite 3s;
    animation: drip .75s infinite 3s;
  }
  .e-grain-5 {
    margin: 0 90px;
    -webkit-animation: drip .45s infinite 4s;
    animation: drip .75s infinite 4s;
  }
  @-webkit-keyframes drip {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
      transform: translateY(50px);
    }
    50% {
      transform: translateY(75px);
    }
    100% {
      opacity: 1;
      transform: translateY(170px);
    }
  }

  @keyframes drip {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
      transform: translateY(50px);
    }
    50% {
      transform: translateY(75px);
    }
    100% {
      opacity: 1;
      transform: translateY(170px);
    }
  }
  /* milling container start */
  .e-milling-container {
    width: 200px;
    height: 100px;
    padding-top: 23px;
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    //background: url('../images/desktop/step2/milling-container.png') center center no-repeat;
  }

  .e-cog-wheel-left, .e-cog-wheel-right {
    width: 78px;
    height: 78px;
    position: absolute;
    display: inline-block;
    background: url('../images/desktop/step2/cog-wheel.svg');
    background-size: 100%;
  }

  .e-cog-wheel-left {
    margin-left: 5px;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }

  .e-cog-wheel-right {
    margin-left: 105px;
    -webkit-animation: spinreverse 4s linear infinite;
    animation: spinreverse 4s linear infinite;
  }

  @-webkit-keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spinreverse {
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes spinreverse {
    100% {
      transform: rotate(-360deg);
    }
  }

  /* milling container end */

  /* milled grain start */

  @keyframes grain-fall {
    0% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(26px);
    }
  }

  .e-milled-grain {
    width: 38px;
    height: 30px;
    position: absolute;
    top: 308px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px 15px 8px 8px;
  }

  b {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: $color-oedipus-pink;
    display: block;
    left: 10px;
    position: absolute;
    animation-name: grain-fall;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    &:nth-of-type(2) {
      left: 24px;
      animation-delay: 0.7s;
    }
    &:nth-of-type(3) {
      left: 18px;
      animation-delay: 0.6s;
    }
    &:nth-of-type(4) {
      left: 13px;
      animation-delay: 0.3s;
    }
    &:nth-of-type(5) {
      left: 18px;
      animation-delay: 0.4s;
    }
    &:nth-of-type(6) {
      left: 11px;
      animation-delay: 0.8s;
    }
    &:nth-of-type(7) {
      left: 19px;
      animation-delay: 0.4s;
    }
    &:nth-of-type(8) {
      left: 22px;
      animation-delay: 0.2s;
    }
  }

  .e-mashing-tank {
    width: 215px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 308px;
    left: 186px;
    overflow: hidden;
  }

  .water {

    .wave {
      width: 200%;
      position: absolute;
      top: 15px;

      &.back {
        left: -250px;
        fill: #E8994A;
        animation: wave-back 1.4s infinite linear;
      }

      &.front {
        left: 0;
        fill: #ECBF92;
        margin-bottom: -1px;
        animation: wave-front .7s infinite linear;
      }
    }
  }
  @keyframes mash-wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }

  @keyframes mash-wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }
  .e-mashing-items-container {
    width: 100%;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 30px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    transform: translateX(-50%);
    background-color: rgba(#ECBF92, .4);
  }

  /* milled grain end */

  .c-zigzag-one {
    width: 325px;
    height: 444px;
    background-image: url('../images/desktop/step2/zigzag1_spritesheet _12f_325x444_3900_optimized.png');
    animation: zigzagOne 0.9s steps(12) infinite;
    position: absolute;
    top: -199px;
    left: 0;
  }

  .c-zigzag-two {
    width: 213px;
    height: 347px;
    background-image: url('../images/desktop/step2/zigzag2_spritesheet_12f_213x347_2556_optimized.png');
    animation: zigzagTwo 0.9s steps(12) infinite;
    position: absolute;
    top: 299px;
    right: 0;
  }

  .c-pumping {
    width: 69px;
    height: 100px;
    background-image: url('../images/desktop/step2/pumpin_spritesheet_28f_69x100_1932_optimized.png');
    animation: pumping 1.4s steps(28) infinite;
    position: absolute;
    left: 376px;
    top: 67px;
  }

  @keyframes zigzagOne {
    from {
      background-position: 0;
    }
    to {
      background-position: 3900px;
    }
  }
  @keyframes zigzagTwo {
    from {
      background-position: 0;
    }
    to {
      background-position: 2556px;
    }
  }
  @keyframes pumping {
    from {
      background-position: 0;
    }
    to {
      background-position: 1932px;
    }
  }

}