
.c-milling-mashing {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;

  > svg {
    width: 290px;
    top: 60px;
    left: 46px;
  }

  .title-milling {
    width: 178px;
    top: 112px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .title-mashing {
    width: 196px;
    bottom: 63px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .title-filtering {
    bottom: 163px;
    right: -260px;
  }
  .comment-milling {
    top: 160px;
    right: 30px;

    img {
      width: 140px;
    }
  }

  .comment-mashing {
    left: -37px;
    bottom: 227px;
  }

  .comment-filtering {
    right: -341px;
    bottom: 219px;
  }

  .e-grain-container {
    width: 150px;
    height: 200px;
    top: 0;
    position: relative;
    margin: 0 auto;
    @include animation(wiggle 4.75s infinite 2s);
  }

  .e-grain {
    width: 4px;
    height: 4px;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #FF8338;
    will-change: transform;
    @include animation-name(drip);
    @include animation-duration(.75s);
    @include animation-timing-function(linear);
    @include animation-iteration-count(infinite);

    &:nth-of-type(1)  {
      margin: 0 12px;
    }
    &:nth-of-type(2)  {
      margin: 0 25px;
      @include animation-delay(1s);
    }
    &:nth-of-type(3) {
      margin: 0 50px;
      @include animation-delay(2s);
    }
    &:nth-of-type(4) {
      margin: 0 75px;
      @include animation-delay(3s);
    }
    &:nth-of-type(5) {
      margin: 0 90px;
      @include animation-delay(4s);
    }
  }

  .e-star {
    width: 10px;
    height: 10px;
    position: absolute;
    background: url('../images/desktop/step2/star.svg') center center no-repeat;
    margin: auto;
    will-change: transform;
    @include animation-name(sparcle);
    @include animation-iteration-count(infinite);
    @include animation-delay(4s);

    &:nth-of-type(6) {
      top: 65px;
      left: 0;
      right: 0;
      @include animation-duration(.75s);
    }
    &:nth-of-type(7) {
      top: 25px;
      left: 25%;
      @include animation-duration(.95s);
      @include transform(rotate(50deg));
    }
    &:nth-of-type(8) {
      top: 45px;
      right: 25%;
      @include animation-duration(.45s);
    }
    &:nth-of-type(9) {
      top: 75px;
      left: 10%;
      @include animation-duration(.85s);
    }
    &:nth-of-type(10) {
      top: 25px;
      right: 10%;
      @include animation-duration(.50s);
    }
    &:nth-of-type(11) {
      top: 0;
      left: 0;
      @include animation-duration(.50s);
    }
  }

  .e-grain-flumpje {
    width: 22px;
    height: 31px;
    position: absolute;
    background: url('../images/desktop/step2/pink_flumpje.svg') center center no-repeat;

    &:nth-of-type(12) {
      left: 25%;
      @include animation(drip .9s linear infinite);
    }
    &:nth-of-type(13) {
      right: 25%;
      @include animation(drip 1.1s linear infinite 0.7s);
    }
  }
  /* milling container start */
  .e-milling-container {
    width: 200px;
    height: 100px;
    padding-top: 23px;
    position: absolute;
    top: 165px;
    left: 50%;
    @include transform(translateX(-50%));
  }

  .e-cog-wheel-left, .e-cog-wheel-right {
    width: 78px;
    height: 78px;
    position: absolute;
    display: inline-block;
    will-change: transform;
    background: url('../images/desktop/step2/cog-wheel.svg');
    background-size: 100%;
  }

  .e-cog-wheel-left {
    margin-left: 5px;
    @include animation(spin 4s linear infinite);
  }

  .e-cog-wheel-right {
    margin-left: 105px;
    @include animation(spinreverse 4s linear infinite);
  }

  /* milling container end */

  /* milled grain start */

  .e-milled-grain {
    width: 38px;
    height: 30px;
    position: absolute;
    top: 308px;
    left: 50%;
    @include transform(translateX(-50%));
    border-radius: 15px 15px 8px 8px;
  }

  b {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #FBAB29;
    display: block;
    left: 10px;
    position: absolute;
    will-change: transform;
    @include animation-name(grain-fall);
    @include animation-duration( 1s);
    @include animation-iteration-count(infinite);
    &:nth-of-type(2) {
      left: 24px;
      @include animation-delay(.7s);
    }
    &:nth-of-type(3) {
      left: 18px;
      @include animation-delay(.6s);
    }
    &:nth-of-type(4) {
      left: 13px;
      @include animation-delay(.3s);
    }
    &:nth-of-type(5) {
      left: 18px;
      @include animation-delay(.4s);
    }
    &:nth-of-type(6) {
      left: 11px;
      @include animation-delay(.8s);
    }
    &:nth-of-type(7) {
      left: 19px;
      @include animation-delay(.4s);
    }
    &:nth-of-type(8) {
      left: 22px;
      @include animation-delay(.2s);
    }
  }

  .e-mashing-tank {
    width: 215px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 308px;
    left: 186px;
    overflow: hidden;
  }

  .wave {
    width: 200%;
    position: absolute;
    top: 15px;

    &.back {
      left: -250px;
      fill: #E8994A;
      @include animation(wave-back 1.4s infinite linear);
    }

    &.front {
      left: 0;
      fill: #ECBF92;
      margin-bottom: -1px;
      @include animation(wave-front .7s infinite linear);
    }
  }
  .e-mashine-puff {
    width: 45px;
    height: 37px;
    position: absolute;
    left: 114px;
    bottom: 152px;
    background: url('../images/desktop/step2/mash_puff.svg');

    &.right {
      left: auto;
      right: 114px;
      bottom: 95px;
    }
  }

  .e-mashing-items-container {
    width: 100%;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 30px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    @include transform(translateX(-50%));
    background-color: rgba(#ECBF92, 1);
  }

  /* milled grain end */

  .c-zigzag-one {
    width: 14px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 237px;
    background-image: url('../images/desktop/step2/zigzag1_spritesheet_4f_14x49_56_optimised.png');
    @include animation(zigzagOne 0.9s steps(4) infinite);
  }

  .c-zigzag-two {
    width: 14px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 258px;
    background-image: url('../images/desktop/step2/zigzag2_spritesheet_4f_14x49_56_optimised.png');
    @include animation(zigzagTwo 1.2s steps(4) infinite);
  }

  .c-pumping {
    width: 122px;
    height: 161px;
    position: absolute;
    top: 180px;
    left: 392px;
    background-image: url('../images/desktop/step2/pump_spritesheet_14f_122x161_1708_optimised.png');
    @include animation(pumping 1.4s steps(14) infinite);
  }
}