body {
  background-color: #fbf8f1;
  overflow: hidden; }
  @media screen and (max-device-width: 480px) {
    body {
      -moz-transform: scale(0.5, 0.5);
      /* Moz-browsers */
      zoom: 0.5;
      /* Other non-webkit browsers */
      zoom: 50%;
      /* Webkit browsers */ } }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  color: green;
  overflow: hidden; }

h1 {
  position: absolute;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
  font-family: 'Poiret One', cursive; }

.c-borders .border {
  position: absolute;
  background-color: #000; }
  .c-borders .border.border-top {
    top: 0;
    width: 100%;
    height: 25px;
    background-image: url(../images/desktop/oedipus-wing-right.svg);
    border-left: 25px solid black;
    border-right: 25px solid black;
    z-index: 10; }
  .c-borders .border.border-right {
    right: 0;
    width: 25px;
    height: 100%;
    background-image: url(../images/desktop/oedipus-wing-down.svg);
    border-top: 25px solid black;
    border-bottom: 25px solid black;
    z-index: 10; }
  .c-borders .border.border-bottom {
    bottom: 0;
    width: 100%;
    height: 25px;
    background-image: url(../images/desktop/oedipus-wing-right.svg);
    border-left: 25px solid black;
    border-right: 25px solid black;
    z-index: 10; }
  .c-borders .border.border-left {
    left: 0;
    width: 25px;
    height: 100%;
    background-image: url(../images/desktop/oedipus-wing-down.svg);
    border-top: 25px solid black;
    border-bottom: 25px solid black;
    z-index: 10; }

.bg-position {
  z-index: 5; }

.logo {
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 5; }
  .logo img {
    width: 50px; }

.bg-position {
  left: 10%;
  bottom: 0px; }

.main {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.c-brewing-wrapper {
  position: relative;
  height: 1240px; }

.c-brewing-background-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2000px;
  width: 12000px;
  height: 900px;
  background-image: url(../images/desktop/oedipus-step-4-bottling-exploding.png), url(../images/desktop/oedipus-step-1-cloud-milmash.png), url(../images/desktop/oedipus-step-2-boiling-cooling.png), url(../images/desktop/oedipus-step-3-cooling-fermenting.png), url(../images/desktop/oedipus-step-4-bottling-exploding.png), url(../images/desktop/oedipus-step-1-cloud-milmash.png);
  background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  background-size: 2000px 900px,2000px 900px,2000px 900px,2000px 900px,2000px 900px,2000px 900px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d(0px, 0px, 0px); }

.intro {
  width: 100%;
  height: 400px; }

.c-action-container .c-action {
  width: 150px;
  height: 95px;
  position: absolute;
  top: 25px;
  left: 20%;
  margin-left: -50px;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none; }
  .c-action-container .c-action.milled-mashed {
    background-color: rgba(0, 128, 0, 0.5);
    background: url("../images/desktop/step1/cloud.png") center center no-repeat; }
  .c-action-container .c-action.filtered {
    background-color: rgba(0, 0, 255, 0.5); }

.c-navigation {
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: 10; }
  .c-navigation .e-navigation-line {
    width: 70%;
    height: 1px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -35%;
    background-color: #000;
    display: none; }
  .c-navigation .e-navigation-step {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    margin-left: 14.3%;
    display: inline-block;
    background-color: #000;
    border-radius: 100%; }
  .c-navigation .e-navigation-bottle {
    width: 20px;
    margin-left: 13.5%;
    position: absolute; }

.c-mouse {
  position: absolute;
  display: block;
  width: 151px;
  height: 152px;
  background: url(../images/desktop/mouse.png) left top no-repeat;
  background-size: 151px auto; }
  .c-mouse.right {
    background: url(../images/desktop/mouse-right.png) left top no-repeat;
    background-size: 151px auto; }

.c-flying-lemon {
  position: absolute;
  pointer-events: none; }
  .c-flying-lemon .relative-container {
    position: relative; }
  .c-flying-lemon .e-lemon {
    width: 300px;
    height: 190px;
    background: url(../images/desktop/lemon.png) center center no-repeat; }
  .c-flying-lemon .e-wings {
    position: absolute;
    top: 0;
    width: 334px;
    height: 190px;
    background: url(../images/desktop/sprite.png) left center no-repeat;
    animation: play 0.8s steps(3) infinite; }

@keyframes play {
  100% {
    background-position: -1002px; } }

.grid {
  width: 100%;
  height: auto;
  text-align: center; }
  .grid .grid-item,
  .grid .grid-item--width2 {
    width: 30.5%;
    height: 360px;
    margin: 0 1% 20px 1%;
    display: block;
    float: left;
    border: 2px solid rgba(102, 102, 102, 0.5);
    overflow: hidden;
    background-color: rgba(128, 0, 128, 0.4); }
  .grid .grid-item--width2 {
    width: 66.0%; }
  @media screen and (max-width: 480px) {
    .grid .grid-item,
    .grid .grid-item--width2 {
      width: 50%; }
    .grid .grid-item--width2 {
      width: 100%; } }

.grid-container {
  max-width: 960px;
  margin: 0 auto; }

.c-magic-cloud {
  position: absolute;
  display: block;
  width: 1000px;
  height: 800px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }

.c-milling-mashing {
  position: absolute;
  display: block;
  width: 600px;
  height: 800px;
  background-color: rgba(128, 0, 128, 0.2);
  pointer-events: none;
  /*@keyframes cloud {
      100% { background-position: -1002px; }
  }*/
  /* milling container start */
  /* milling container end */ }
  .c-milling-mashing .e-cloud {
    width: 150px;
    height: 90px;
    margin: 0 73px;
    background: url("../images/desktop/step1/cloud.png") left center no-repeat;
    animation: cloud 0.8s steps(3) infinite; }
  .c-milling-mashing .e-grain-container {
    position: relative;
    left: 75px;
    top: -90px; }
  .c-milling-mashing .e-grain {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    margin: 0 auto; }
  .c-milling-mashing .e-grain-1 {
    margin: 0 12px;
    background: url("../images/desktop/step1/malt-1.png") center center no-repeat;
    -webkit-animation: drip .45s infinite;
    animation: drip .75s infinite; }
  .c-milling-mashing .e-grain-2 {
    margin: 0 25px;
    background: url("../images/desktop/step1/malt-2.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 1s;
    animation: drip .75s infinite 1s; }
  .c-milling-mashing .e-grain-3 {
    margin: 0 50px;
    background: url("../images/desktop/step1/malt-3.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 2s;
    animation: drip .75s infinite 2s; }
  .c-milling-mashing .e-grain-4 {
    margin: 0 75px;
    background: url("../images/desktop/step1/malt-4.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 3s;
    animation: drip .75s infinite 3s; }
  .c-milling-mashing .e-grain-5 {
    margin: 0 90px;
    background: url("../images/desktop/step1/malt-5.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 4s;
    animation: drip .75s infinite 4s; }

@-webkit-keyframes drip {
  0% {
    opacity: 0;
    top: 50px;
    width: 0;
    height: 0; }
  50% {
    top: 75px; }
  100% {
    top: 170px;
    opacity: 1; } }

@keyframes drip {
  0% {
    opacity: 0;
    top: 50px;
    width: 0;
    height: 0; }
  50% {
    top: 75px; }
  100% {
    top: 170px;
    opacity: 1; } }
  .c-milling-mashing .e-milling-container {
    width: 200px;
    height: 100px;
    padding-top: 23px;
    position: absolute;
    top: 165px;
    left: 50px;
    background: url("../images/desktop/step1/milling-container.png") center center no-repeat; }
  .c-milling-mashing .e-cog-wheel-left, .c-milling-mashing .e-cog-wheel-right {
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    background: url("../images/desktop/step1/cog-wheel.png") center center no-repeat; }
  .c-milling-mashing .e-cog-wheel-left {
    margin-left: 50px;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite; }
  .c-milling-mashing .e-cog-wheel-right {
    margin-left: 100px;
    -webkit-animation: spinreverse 4s linear infinite;
    animation: spinreverse 4s linear infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinreverse {
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes spinreverse {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.c-boiling {
  position: absolute;
  display: block;
  width: 600px;
  height: 800px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }

.c-cooling-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 800px;
  pointer-events: none;
  background: url(../images/desktop/cooling.png) center center no-repeat; }
  .c-cooling-container .c-frame-snow {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0; }
  .c-cooling-container .snow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    top: 0;
    z-infex: 2;
    animation-name: fall;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .c-cooling-container .snow svg {
    width: 100%;
    height: auto; }

@keyframes fall {
  0% {
    top: 0;
    opacity: 0; }
  1% {
    top: 0;
    opacity: 1; }
  80% {
    top: calc( 100% + 150px);
    opacity: 1; }
  81% {
    top: calc( 100% + 150px);
    opacity: 0; }
  100% {
    top: 0;
    opacity: 0; } }

.c-fermenting {
  position: absolute;
  display: block;
  width: 600px;
  height: 800px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }

.c-bottling-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 800px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }
  .c-bottling-container .e-label {
    position: absolute;
    width: 100px;
    height: 100px; }

.c-end-pop {
  position: absolute;
  display: block;
  width: 1000px;
  height: 800px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }
