body {
  background-color: #fbf8f1;
  overflow: hidden; }
  @media screen and (max-device-width: 1024px), only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
    body .c-boiling,
    body .c-bottling-container,
    body .c-magic-cloud,
    body .c-cooling-container,
    body .c-milling-mashing,
    body .c-fermenting,
    body .c-end-pop {
      transform: scale(0.6, 0.6); } }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

h1 {
  position: absolute;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
  font-family: 'Poiret One', cursive; }

.c-borders .border {
  position: absolute;
  background-color: #000; }
  .c-borders .border.border-top {
    top: 0;
    width: 100%;
    height: 25px;
    background-image: url(../images/desktop/oedipus-wing-right.svg);
    border-left: 25px solid black;
    border-right: 25px solid black;
    z-index: 10; }
  .c-borders .border.border-right {
    right: 0;
    width: 25px;
    height: 100%;
    background-image: url(../images/desktop/oedipus-wing-down.svg);
    border-top: 25px solid black;
    border-bottom: 25px solid black;
    z-index: 10; }
  .c-borders .border.border-bottom {
    bottom: 0;
    width: 100%;
    height: 25px;
    background-image: url(../images/desktop/oedipus-wing-right.svg);
    border-left: 25px solid black;
    border-right: 25px solid black;
    z-index: 10; }
  .c-borders .border.border-left {
    left: 0;
    width: 25px;
    height: 100%;
    background-image: url(../images/desktop/oedipus-wing-down.svg);
    border-top: 25px solid black;
    border-bottom: 25px solid black;
    z-index: 10; }

.bg-position {
  z-index: 5; }

.logo {
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 5; }
  .logo img {
    width: 50px; }

.bg-position {
  left: 10%;
  bottom: 0px; }

.main {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.c-brewing-wrapper {
  position: relative;
  height: 1240px; }

.c-brewing-background-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2000px;
  width: 12000px;
  height: 900px;
  transform: translate3d(0px, 0px, 0px); }

.c-brewing-background-inner-top {
  position: absolute;
  top: 0;
  left: -2000px;
  width: 12000px;
  height: 300px;
  background-image: url(../images/desktop/test/film-top/05.png), url(../images/desktop/test/film-top/01.png), url(../images/desktop/test/film-top/02.png), url(../images/desktop/test/film-top/03.png), url(../images/desktop/test/film-top/04.png), url(../images/desktop/test/film-top/05.png);
  background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  background-size: 2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d(0px, 0px, 0px);
  pointer-events: none; }

.c-brewing-background-inner-bottom {
  width: 12000px;
  height: 300px;
  position: absolute;
  top: calc(100vh - 300px);
  left: -2000px;
  background-image: url(../images/desktop/test/film-bottom/05.png), url(../images/desktop/test/film-bottom/01.png), url(../images/desktop/test/film-bottom/02.png), url(../images/desktop/test/film-bottom/03.png), url(../images/desktop/test/film-bottom/04.png), url(../images/desktop/test/film-bottom/05.png);
  background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  background-size: 2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d(0px, 0px, 0px);
  pointer-events: none; }

.film-related {
  width: 12000px;
  height: 500px;
  position: absolute;
  top: calc(50vh - 250px);
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate3d(0px, 0px, 0px);
  pointer-events: none; }

.intro {
  width: 100%;
  height: 400px; }

.e-title {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  font-size: 32px;
  transform: translateX(-50%);
  left: 50%; }

#preloader {
  background-color: #182327;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9999999; }

#loading-animation {
  position: absolute;
  margin: auto;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/oedipus_logo.svg");
  background-size: 100%;
  animation: spin 3s linear infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* action Item classes:
      - initial (to the right of the viewport twitching around with small constant animations)
      - milled-mashed (still to the right)
      - boiling (to the top left)
      - cooling (the cloud moves in waves at the top of the screen blowing at the pipes)
      - fermenting (cloud passes behing fermenting vessel, positions itself at teh top right and turns into a clock)
      -bottling (stops at previous step and stays there)
 */
.c-action-container .c-action {
  width: 150px;
  height: 95px;
  position: absolute;
  top: 30vh;
  left: 84vw;
  margin-left: -50px;
  display: inline-block;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; }
  .c-action-container .c-action.initial {
    background-color: rgba(0, 0, 255, 0.5);
    visibility: visible;
    opacity: 1; }
  .c-action-container .c-action.milled-mashed {
    background-color: rgba(163, 208, 26, 0.5);
    visibility: visible;
    opacity: 1; }
  .c-action-container .c-action.boiling {
    background-color: rgba(255, 152, 181, 0.5);
    visibility: visible;
    opacity: 1; }
  .c-action-container .c-action.cooling {
    background-color: rgba(249, 223, 0, 0.5);
    visibility: visible;
    opacity: 1; }
    .c-action-container .c-action.cooling.right {
      background-image: url("../images/desktop/step4/windy-right.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .c-action-container .c-action.cooling.left {
      background-image: url("../images/desktop/step4/windy-left.svg");
      transform: translate(-100, -100);
      background-size: contain;
      background-repeat: no-repeat; }
  .c-action-container .c-action.fermenting {
    background-color: rgba(202, 68, 127, 0.5);
    visibility: visible;
    opacity: 1;
    background-image: url("../images/desktop/step5/clock.png"); }
  .c-action-container .c-action.bottling {
    background-color: rgba(77, 80, 155, 0.5);
    visibility: visible;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; }

.c-navigation {
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: 10; }
  .c-navigation .e-navigation-line {
    width: 70%;
    height: 1px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -35%;
    background-color: #000;
    display: none; }
  .c-navigation .e-navigation-step {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    margin-left: 14.3%;
    display: inline-block;
    background-color: #000;
    border-radius: 100%; }
  .c-navigation .e-navigation-bottle {
    width: 20px;
    margin-left: 13.5%;
    position: absolute; }

.c-mouse {
  position: absolute;
  display: block;
  width: 151px;
  height: 152px;
  background: url(../images/desktop/mouse.png) left top no-repeat;
  background-size: 151px auto; }
  .c-mouse.right {
    background: url(../images/desktop/mouse-right.png) left top no-repeat;
    background-size: 151px auto; }

.c-flying-lemon {
  position: absolute;
  pointer-events: none; }
  .c-flying-lemon .relative-container {
    position: relative; }
  .c-flying-lemon .e-lemon {
    width: 300px;
    height: 190px;
    background: url(../images/desktop/lemon.png) center center no-repeat; }
  .c-flying-lemon .e-wings {
    position: absolute;
    top: 0;
    width: 334px;
    height: 190px;
    background: url(../images/desktop/sprite.png) left center no-repeat;
    animation: play 0.8s steps(3) infinite; }

@keyframes play {
  100% {
    background-position: -1002px; } }

.grid {
  width: 100%;
  height: auto;
  text-align: center; }
  .grid .grid-item,
  .grid .grid-item--width2 {
    width: 30.5%;
    height: 360px;
    margin: 0 1% 20px 1%;
    display: block;
    float: left;
    border: 2px solid rgba(102, 102, 102, 0.5);
    overflow: hidden;
    background-color: rgba(128, 0, 128, 0.4); }
  .grid .grid-item--width2 {
    width: 66.0%; }
  @media screen and (max-width: 480px) {
    .grid .grid-item,
    .grid .grid-item--width2 {
      width: 50%; }
    .grid .grid-item--width2 {
      width: 100%; } }

.grid-container {
  max-width: 960px;
  margin: 0 auto; }

.c-auto-scroll-button {
  width: 75px;
  height: 75px;
  position: absolute;
  border: 1px solid #000;
  bottom: 10px;
  right: 10px;
  background-color: #ff8338;
  border-radius: 50%;
  z-index: 10;
  outline: none; }
  .c-auto-scroll-button.scrolling {
    background-color: #f9df00; }

.button-block {
  margin-bottom: 50px;
  display: inline-block;
  float: left;
  clear: both; }
  .button-block .button {
    width: 120px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; }

.c-portrait-overlay {
  display: none; }
  @media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    .c-portrait-overlay {
      width: 100%;
      height: 100%;
      display: block;
      position: fixed;
      background-color: #3a3025;
      z-index: 10; }
      .c-portrait-overlay .e-flip-message {
        top: 40%;
        position: relative;
        color: #fbf8f1;
        font-size: 18px;
        text-align: center; } }

.c-magic-cloud {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2);
  background-image: url("../images/desktop/step1/bg.png");
  background-repeat: no-repeat;
  background-position: left center; }
  .c-magic-cloud.replica {
    background-color: orange;
    z-index: 5;
    transform: translateX(8000px); }
  .c-magic-cloud.fading {
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0; }
  .c-magic-cloud.loaded {
    opacity: 1; }
  .c-magic-cloud.unloaded {
    opacity: 0; }
  .c-magic-cloud .e-energy {
    width: 100%;
    height: 100%; }
  .c-magic-cloud .e-flumpje-item-container {
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 0, 255, 0.2); }
  .c-magic-cloud .e-flumpje-item {
    width: 60px;
    height: 160px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/desktop/step1/beam.png");
    opacity: 0; }
    .c-magic-cloud .e-flumpje-item:nth-of-type(1) {
      top: 116px;
      left: 237px;
      transform: rotate(56deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(2) {
      top: 60px;
      left: 300px;
      transform: rotate(112deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(3) {
      top: 85px;
      right: 364px;
      transform: rotate(148deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(4) {
      top: 123px;
      right: 311px;
      transform: rotate(184deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(5) {
      top: 166px;
      right: 293px;
      transform: rotate(220deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(6) {
      top: 226px;
      right: 321px;
      transform: rotate(256deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(7) {
      top: 267px;
      left: 350px;
      transform: rotate(292deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(8) {
      top: 258px;
      left: 274px;
      transform: rotate(328deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(9) {
      top: 217px;
      left: 221px;
      transform: rotate(364deg); }
    .c-magic-cloud .e-flumpje-item:nth-of-type(10) {
      top: 176px;
      left: 208px;
      transform: rotate(40deg); }

.c-milling-mashing {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  background-color: rgba(128, 0, 128, 0.2);
  background-image: url("../images/desktop/step2/bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  pointer-events: none;
  /*@keyframes cloud {
      100% { background-position: -1002px; }
  }*/
  /* milling container start */
  /* milling container end */
  /* milled grain start */
  /* milled grain end */ }
  .c-milling-mashing .e-cloud {
    width: 150px;
    height: 90px;
    margin: 0 auto;
    background: url("../images/desktop/step2/cloud.png") left center no-repeat;
    animation: cloud 0.8s steps(3) infinite; }
  .c-milling-mashing .e-grain-container {
    width: 150px;
    height: 200px;
    top: -100px;
    position: relative;
    margin: 0 auto; }
  .c-milling-mashing .e-grain {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    margin: 0 auto; }
  .c-milling-mashing .e-grain-1 {
    margin: 0 12px;
    background: url("../images/desktop/step2/malt-1.png") center center no-repeat;
    -webkit-animation: drip .45s infinite;
    animation: drip .75s infinite; }
  .c-milling-mashing .e-grain-2 {
    margin: 0 25px;
    background: url("../images/desktop/step2/malt-2.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 1s;
    animation: drip .75s infinite 1s; }
  .c-milling-mashing .e-grain-3 {
    margin: 0 50px;
    background: url("../images/desktop/step2/malt-3.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 2s;
    animation: drip .75s infinite 2s; }
  .c-milling-mashing .e-grain-4 {
    margin: 0 75px;
    background: url("../images/desktop/step2/malt-4.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 3s;
    animation: drip .75s infinite 3s; }
  .c-milling-mashing .e-grain-5 {
    margin: 0 90px;
    background: url("../images/desktop/step2/malt-5.png") center center no-repeat;
    -webkit-animation: drip .45s infinite 4s;
    animation: drip .75s infinite 4s; }

@-webkit-keyframes drip {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    transform: translateY(50px); }
  50% {
    transform: translateY(75px); }
  100% {
    opacity: 1;
    transform: translateY(170px); } }

@keyframes drip {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    transform: translateY(50px); }
  50% {
    transform: translateY(75px); }
  100% {
    opacity: 1;
    transform: translateY(170px); } }
  .c-milling-mashing .e-milling-container {
    width: 200px;
    height: 100px;
    padding-top: 23px;
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/desktop/step2/milling-container.png") center center no-repeat; }
  .c-milling-mashing .e-cog-wheel-left, .c-milling-mashing .e-cog-wheel-right {
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    background: url("../images/desktop/step2/cog-wheel.png") center center no-repeat; }
  .c-milling-mashing .e-cog-wheel-left {
    margin-left: 50px;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite; }
  .c-milling-mashing .e-cog-wheel-right {
    margin-left: 100px;
    -webkit-animation: spinreverse 4s linear infinite;
    animation: spinreverse 4s linear infinite; }

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes spinreverse {
  100% {
    transform: rotate(-360deg); } }

@keyframes spinreverse {
  100% {
    transform: rotate(-360deg); } }

@keyframes grain-fall {
  0% {
    transform: translateY(-2px); }
  100% {
    transform: translateY(26px); } }
  .c-milling-mashing .e-milled-grain {
    width: 38px;
    height: 30px;
    margin-left: 5px;
    margin-top: -2px;
    position: absolute;
    top: 264px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px 15px 8px 8px;
    border-bottom: 7px solid black; }
  .c-milling-mashing b {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #000;
    display: block;
    left: 10px;
    position: absolute;
    animation-name: grain-fall;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
    .c-milling-mashing b:nth-of-type(2) {
      left: 24px;
      animation-delay: 0.7s; }
    .c-milling-mashing b:nth-of-type(3) {
      left: 18px;
      animation-delay: 0.6s; }
    .c-milling-mashing b:nth-of-type(4) {
      left: 13px;
      animation-delay: 0.3s; }
    .c-milling-mashing b:nth-of-type(5) {
      left: 18px;
      animation-delay: 0.4s; }
    .c-milling-mashing b:nth-of-type(6) {
      left: 11px;
      animation-delay: 0.8s; }
    .c-milling-mashing b:nth-of-type(7) {
      left: 19px;
      animation-delay: 0.4s; }
    .c-milling-mashing b:nth-of-type(8) {
      left: 22px;
      animation-delay: 0.2s; }

.c-boiling {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(255, 165, 0, 0.2);
  /* waves start */
  /* waves end */ }
  .c-boiling .e-hops-bag {
    width: 90px;
    height: 80px;
    position: absolute;
    left: 100px;
    background: url("../images/desktop/step3/hops-bag.png") left center no-repeat; }
  .c-boiling .e-hops-item-container {
    position: absolute;
    left: 150px; }
  .c-boiling .e-hops-item {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat; }
  .c-boiling .hop-item-1 {
    margin: 0 12px;
    background-image: url("../images/desktop/step3/hop.png");
    -webkit-animation: drop .45s infinite 0.4s;
    animation: drop 1.8s infinite 0.4s; }
  .c-boiling .hop-item-2 {
    margin: 0 20px;
    background-image: url("../images/desktop/step3/hop.png");
    -webkit-animation: drop .75s infinite 1.50s;
    animation: drop 2s infinite 1.50s; }
  .c-boiling .hop-item-3 {
    margin: 0 28px;
    background-image: url("../images/desktop/step3/hop.png");
    -webkit-animation: drop .74s infinite 2.50s;
    animation: drop 2.2s infinite 2.50s; }
  .c-boiling .hop-item-4 {
    margin: 0 36px;
    background-image: url("../images/desktop/step3/hop.png");
    -webkit-animation: drop .75s infinite 3.75s;
    animation: drop 1.9s infinite 3.75s; }
  .c-boiling .hop-item-5 {
    margin: 0 44px;
    background-image: url("../images/desktop/step3/hop.png");
    -webkit-animation: drop .75s infinite 4.75s;
    animation: drop 2.3s infinite 4.75s; }

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    transform: translateX(-10px) translateY(50px); }
  25% {
    transform: translateX(10px) translateY(50px); }
  50% { }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateX(10px) translateY(220px); } }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateX(-10px) translateY(50px); }
  25% {
    transform: translateX(10px) translateY(50px); }
  50% { }
  80% {
    opacity: 1; }
  100% {
    transform: translateX(10px) translateY(220px);
    opacity: 0; } }
  .c-boiling .e-steam-top {
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: rgba(255, 165, 0, 0.2);
    top: 62px;
    left: 50%;
    transform: translateX(-50%); }
  .c-boiling .e-boiling-tank {
    width: 400px;
    height: 360px;
    padding-top: 125px;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/desktop/step3/boil-tank.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden; }
  .c-boiling .e-boiling-items-container {
    width: 100%;
    height: 207px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 255, 0.5); }
  .c-boiling .e-boil-item {
    width: 25px;
    height: 50px;
    display: inline-block;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat; }
  .c-boiling .boil-item-1 {
    margin-left: 100px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite;
    animation: boil .75s infinite; }
  .c-boiling .boil-item-2 {
    margin-left: 75px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite 1s;
    animation: boil .75s infinite 1s; }
  .c-boiling .boil-item-3 {
    margin-left: 150px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite 2s;
    animation: boil .75s infinite 2s; }
  .c-boiling .boil-item-4 {
    margin-left: 30px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite 3s;
    animation: boil .75s infinite 3s; }
  .c-boiling .boil-item-5 {
    margin-left: 180px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite 4s;
    animation: boil .75s infinite 4s; }
  .c-boiling .boil-item-6 {
    margin-left: 5px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite 5s;
    animation: boil .75s infinite 5s; }
  .c-boiling .boil-item-6 {
    margin-left: 210px;
    background-image: url("../images/desktop/step3/bubbles.png");
    -webkit-animation: boil .45s infinite 6s;
    animation: boil .75s infinite 6s; }

@-webkit-keyframes boil {
  0% {
    opacity: 0;
    transform: translateX(10px) translateY(220px); }
  25% {
    opacity: 1; }
  50% {
    transform: translateX(-10px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 0;
    transform: translateX(-10px) translateY(50px); } }

@keyframes boil {
  0% {
    opacity: 0;
    transform: translateX(10px) translateY(220px); }
  25% {
    opacity: 1; }
  50% {
    transform: translateX(-10px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 0;
    transform: translateX(-10px) translateY(50px); } }
  .c-boiling .water .wave {
    width: 200%;
    position: absolute; }
    .c-boiling .water .wave.back {
      right: 0;
      fill: #2c7fbe;
      animation: wave-back 1.4s infinite linear; }
    .c-boiling .water .wave.front {
      left: 0;
      fill: #32bafa;
      margin-bottom: -1px;
      animation: wave-front .7s infinite linear; }

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0); } }

@keyframes wave-back {
  100% {
    transform: translate(50%, 0); } }

.c-cooling-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }
  .c-cooling-container .c-frame-snow {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0; }
  .c-cooling-container .snow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    top: 0;
    z-infex: 2;
    animation-name: fall;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .c-cooling-container .snow svg {
    width: 100%;
    height: auto; }

@keyframes fall {
  0% {
    top: 0;
    opacity: 0; }
  1% {
    top: 0;
    opacity: 1; }
  80% {
    top: calc( 100% + 150px);
    opacity: 1; }
  81% {
    top: calc( 100% + 150px);
    opacity: 0; }
  100% {
    top: 0;
    opacity: 0; } }

.c-fermenting {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }

.c-fermenting-foreground .e-note {
  right: 50px;
  top: 50px;
  background-image: url("../images/desktop/step5/note.svg");
  width: 60px;
  height: 60px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat; }

.c-fermenting-foreground .e-drum {
  right: 10px;
  bottom: 150px;
  background-image: url("../images/desktop/step5/drum.svg");
  width: 60px;
  height: 60px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat; }

.c-fermenting-foreground .e-flumpje {
  left: 125px;
  bottom: 50px;
  width: 100px;
  background-image: url("../images/desktop/step5/flumpje.png");
  width: 60px;
  height: 60px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat; }

.c-fermenting-foreground .e-drink {
  left: 25px;
  bottom: 250px;
  background-image: url("../images/desktop/step5/drink.svg");
  width: 60px;
  height: 60px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat; }

.c-bottling-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }

.c-end-pop {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  pointer-events: none;
  background-color: rgba(128, 0, 128, 0.2); }
  .c-end-pop.replica {
    background-color: orange;
    z-index: 5;
    transform: translateX(5px); }
  .c-end-pop.loaded {
    opacity: 1; }
  .c-end-pop.unloaded {
    opacity: 0; }
