
/* action Item classes:
      - initial (to the right of the viewport twitching around with small constant animations)
      - milled-mashed (still to the right)
      - boiling (to the top left)
      - cooling (the cloud moves in waves at the top of the screen blowing at the pipes)
      - fermenting (cloud passes behing fermenting vessel, positions itself at teh top right and turns into a clock)
      -bottling (stops at previous step and stays there)
 */

.c-action-container {
  .c-action {
    width: 150px;
    height: 95px;
    position: absolute;
    top: 25px;
    left: 20%;
    margin-left: -50px;
    display: inline-block;
    background-color: rgba(red,0.5);
    pointer-events: none;

    &.initial {
      background-color: rgba(blue,0.5);
    }

    &.milled-mashed {
      background-color: rgba(green,0.5);
      background: url('../images/desktop/step2/cloud.png') center center no-repeat;
    }

    &.boiling {
      background-color: rgba(green,0.5);
    }

    &.cooling {
      background-color: rgba(blue,0.5);
    }

    &.fermenting {
      background-color: rgba(green,0.5);
    }

    &.bottling {
      background-color: rgba(blue,0.5);
    }
  }
}

