
/* action Item classes:
      - initial (to the right of the viewport twitching around with small constant animations)
      - milled-mashed (still to the right)
      - boiling (to the top left)
      - cooling (the cloud moves in waves at the top of the screen blowing at the pipes)
      - fermenting (cloud passes behing fermenting vessel, positions itself at teh top right and turns into a clock)
      -bottling (stops at previous step and stays there)
 */

.c-action-container {
  .c-action {
    width: 150px;
    height: 95px;
    position: absolute;
    top: 30vh;
    left: 84vw;
    margin-left: -50px;
    display: inline-block;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &.initial {
      background-color: rgba(blue,0.5);
      visibility: visible;
      opacity: 1;
    }

    &.milled-mashed {
      background-color: rgba($color-oedipus-green,0.5);
      visibility: visible;
      opacity: 1;
    }

    &.boiling {
      background-color: rgba($color-oedipus-pink,0.5);
      visibility: visible;
      opacity: 1;
    }

    &.cooling {
      background-color: rgba($color-oedipus-yellow,0.5);
      visibility: visible;
      opacity: 1;
      &.right {
        background-image: url('../images/desktop/step4/windy-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.left {
        background-image: url('../images/desktop/step4/windy-left.svg');
        transform: translate(-100,-100);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.fermenting {
      background-color: rgba($color-oedipus-pink-dark,0.5);
      visibility: visible;
      opacity: 1;
      background-image: url('../images/desktop/step4/clock.png');
    }

    &.bottling {
      background-color: rgba($color-oedipus-blue-dark,0.5);
      visibility: visible;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
  }
}

