
/* action Item classes:
      - initial (to the right of the viewport twitching around with small constant animations)
      - milled-mashed (still to the right)
      - boiling (to the top left)
      - cooling (the cloud moves in waves at the top of the screen blowing at the pipes)
      - fermenting (cloud passes behing fermenting vessel, positions itself at teh top right and turns into a clock)
      -bottling (stops at previous step and stays there)
 */

.c-action-container {

  .c-cloud-bg-sprite {
    position: absolute;
    width: 175px;
    height: 135px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    //background-color: rgba(red, .2);
    visibility: visible;
    background-image: url('../images/desktop/action-item/spritesheet.png');
     animation: puff 0.9s steps(75) infinite;
  }

  @keyframes puff {
    from { background-position: 0; }
    to { background-position: 13875px; }
  }


  .c-action {
    position: absolute;
    top: 30vh;
    left: 84vw;
    margin-left: -50px;
    display: inline-block;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &.initial {
      //background-color: rgba(blue,0.5);
      opacity: 1;
      svg#c-cloud-millmash {
        visibility: visible;
      }
    }

    &.milled-mashed {
      //background-color: rgba($color-oedipus-green,0.5);
      opacity: 1;
      svg#c-cloud-millmash {
        visibility: visible;
      }
    }

    &.boiling {
      //background-color: rgba($color-oedipus-pink,0.5);
      opacity: 1;
      svg#c-cloud-boil {
        visibility: visible;
      }
    }

    &.cooling {
      //background-color: rgba($color-oedipus-yellow,0.5);
      opacity: 1;
      &.right {
        background-size: contain;
        background-repeat: no-repeat;
        svg#c-cloud-cool-right {
          visibility: visible;
        }
      }
      &.left {
        transform: translate(-100,-100);
        background-size: contain;
        background-repeat: no-repeat;
        svg#c-cloud-cool-left {
          visibility: visible;
        }
      }
    }

    &.fermenting {
      //background-color: rgba($color-oedipus-pink-dark,0.5);
      opacity: 1;
      svg#c-cloud-fermenting {
        visibility: visible;
      }
    }

    &.bottling {
      //background-color: rgba($color-oedipus-blue-dark,0.5);
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
  }

  .c-cloud {
    position: relative;
    width: 150px;
    height: 100px;

    svg {
      position: absolute;
      overflow: visible;
      display: none;
    }
  }
  @media screen and (max-device-width: 1024px), only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (orientation : landscape) {
    .c-action {
      top: 10vh;

      svg {
        width: 90px;
      }
    }
  }

  /* beam animations START */


  #e-cloud-cold-left-beam {

  }

  #e-cloud-cold-right-beam {

  }

  #e-cloud-warm-beam-down {

  }

  #e-cloud-warm-beam-up {

  }

  #e-cloud-warm-beam-left {

  }

  #e-cloud-warm-beam-right {

  }

  /* beam animations END */



}

