
/* Magic Cloud START */
//@include keyframes(magicPuff) {
//  from { background-position: 0; }
//  to { background-position: 15000px; }
//}

@include keyframes(Floating) {
    from {@include transform(translate(0, 0px));}
    65% {@include transform(translate(0, 15px));}
    to {@include transform(translate(0, -0px));}
}
/* Magic Cloud END */


/* Milling & Mashing START */

@include keyframes(drip) {
  0% {
    opacity: 0;
    @include transform(translateX(0));
  }
  10% {
    opacity: 1;
  }
  50% {
    @include transform(translateX(10px) translateY(85px));
    opacity: .7;
  }
  100% {
    opacity: 1;
    @include transform(translateX(0) translateY(170px));
  }
}


@include keyframes(spin) {
  100% {
    @include transform(rotate(360deg));
  }
}


@include keyframes(spinreverse) {
  100% {
    @include transform(rotate(-360deg));
  }
}

@include keyframes(sparcle) {
  0% {
    @include transform(rotate(-5deg) scale(0.3,0.3));
  }
  25%{
    opacity: .7;
  }
  50% {
    opacity: 1;
    @include transform(rotate(5deg) scale(1.2,1.2));
  }
  75% {
    opacity: .5;
  }

  100% {
    opacity: 0.8;
    @include transform(rotate(-5deg) scale(0.3,0.3));
  }
}

@include keyframes(wiggle) {
0% {}
  25% {@include transform(rotate(3deg));}
50% {@include transform(rotate(-3deg));}
100% {
  @include transform(rotate(0deg));
}
}

@include keyframes(grain-fall) {
  0% {
    @include transform(translateY(-2px));
  }
  100% {
    @include transform(translateY(26px));
  }
}

@include keyframes(mash-wave-front) {
  100% {
    @include transform(translate(-50%, 0));
  }
}

@include keyframes(mash-wave-back) {
  100% {
    @include transform(translate(50%, 0));
  }
}

@include keyframes(zigzagOne) {
  0% {
    background-position: 0;
    opacity: 0;
  }
  10% {
     opacity: 1;
  }
  50% {
    //top: 40px;
    @include transform(translateY(40px));
  }
  90% {
    opacity: 1;
  }
  100% {
    //top: 110px;
    @include transform(translateY(110px));
    opacity: 0;
    background-position: 56px;
  }
}

@include keyframes(zigzagTwo) {
  0% {
    background-position: 0;
    opacity: 0;
  }
  10% {
     opacity: 1;
  }
  50% {
    //top: 60px;
    @include transform(translateY(60px));
  }
  90% {
    opacity: 1;
  }
  100% {
    //top: 130px;
    @include transform(translateY(130px));
    opacity: 0;
    background-position: 56px;
  }
}

@include keyframes(pumping) {
  from {
    background-position: 0;
  }
  to {
    background-position: 1708px;
  }
}
/* Milling & Mashing END */


/* Boiling START */

@include keyframes(drop) {
  0% {
    opacity: 0;
    @include transform(translateX(10px) translateY(50px));
  }
  25% {
    @include transform(translateX(20px) translateY(50px));
  }
  80% {
    opacity: 1;
  }
  100% {
    @include transform(translateX(80px) translateY(190px) scale(0.7,0.7));
    opacity: 0;
  }
}

@include keyframes(boil) {
  0% {
    opacity: 0;
    @include transform(translateX(10px) translateY(220px));
  }
  25% {
    opacity: 1;
  }
  50% {
    @include transform(translateX(-10px));
  }
  80% {
    @include transform(translateX(10px));
  }
  100% {
    opacity: 0;
    @include transform(translateX(-10px) translateY(50px));
  }
}

@include keyframes(wave-front) {
  100% {
    @include transform(translate(-50%, 0));
  }
}

@include keyframes(wave-back) {
  100% {
    @include transform(translate(50%, 0));
  }
}

@include keyframes(zigzagThree) {
  from { background-position: 0; }
  to { background-position: 1017px; }
}

@include keyframes(zigzagFour) {
  from { background-position: 0; }
  to { background-position: 4296px; }
}

@include keyframes(zigzagFive) {
  from { background-position: 0; }
  to { background-position: 7192px; }
}

@include keyframes(burst) {
  from { background-position: 0; }
  to { background-position: 1116px; }
}
/* Boiling END */


/* Cooling START */
/* Cooling END */


/* Fermenting START */

@include keyframes(swimRight) {
  0% {
    @include transform(translateX(0));
  }
  100% {
    opacity: 1;
    @include transform(translateX(90px) translateY(40px));
  }
}

@include keyframes(swimLeft) {
  0% {
    @include transform(translateX(0) rotate(90deg));
  }
  100% {
    opacity: 1;
    @include transform(translateX(-20px) translateY(90px) rotate(90deg));
  }
}

@include keyframes(sperma) {
    from { background-position: 0; }
    to { background-position: 2664px; }
  }

@include keyframes(floatLeft) {
  0% {
    opacity: 0;
    @include transform(translateX(0));
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform(translateX(-40px) translateY(-90px));
  }
}

@include keyframes(floatRight) {
  0% {
    opacity: 0;
    @include transform(translateX(0));
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform(translateX(40px) translateY(-90px));
  }
}
/* Fermenting END */


/* Bottling START */
@include keyframes(fill) {
  from { background-position: 0; }
  to { background-position: 203px; }
}
/* Bottling END */


/* End-Pop START */
/* End-Pop END */