
.c-auto-scroll-button {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 25px;
  right: 50px;
  border: none;
  background: url('../images/desktop/btn-auto-scroll.svg') no-repeat center;
  background-size: contain;
  z-index: 10;
  outline: none;
  @include transition(all 1s);

  &.scrolling {
    background-color: rgba($color-oedipus-orange,.5);
    border-radius: 10px;
    @include transform(scale(1.2,1.2));
  }
  &:hover {
    @include transform(scale(1.2,1.2));
  }
}