
.c-auto-scroll-button {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: url('../images/desktop/btn-auto-scroll.svg') no-repeat center;
  background-size: contain;
  z-index: 10;
  outline: none;
  transition: all 1s;

  &.scrolling {
    background-color: $color-oedipus-yellow;
    transform: scale(1.2,1.2);
  }
  &:hover {
    transform: scale(1.2,1.2);
  }
}