
.c-bottling-container {
  position: absolute;
  display: block;
  width: 500px;
  height: 900px;
  pointer-events: none;
  background: url(../images/desktop/cooling.png) center center no-repeat;

  .e-label {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
  }
}