
.c-beer-bottle-container {
  .c-beer-bottle {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -50px;
    display: inline-block;
    background-color: rgba(red,0.5);
    pointer-events: none;

    &.milled-mashed {
      background-color: rgba(green,0.5);
    }

    &.filtered {
      background-color: rgba(blue,0.5);
    }
  }
}