.grid {
  width: 100%;
  height: auto;
  text-align: center;
  
  .grid-item,
  .grid-item--width2 {
    width: calc(33.33333% - 10px);
    height: 360px;
    margin: 0 5px 10px 5px;
    display: block;
    float: left;
    border: 2px solid hsla(0, 0%, 40%, 0.5);
    overflow: hidden;
    background-color: rgba(purple, .4);
  }

  .grid-item--width2 { width: calc(66.66666% - 10px); }
}

.grid-container {
  max-width: 960px;
  margin: 0 auto;
}