
.c-navigation {
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: $z-10;

  .e-navigation-line {
    width: 83%;
    height: 1px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -42%;
    background-color: $color-black;
  }

  .e-navigation-step {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    margin-left: 7.5%;
    display: inline-block;
    background-color: $color-black;
    border-radius: 100%;
  }

  .e-navigation-bottle {
    width: 20px;
    margin-left: 8.5%;
    position: absolute;
  }
}