
#preloader {
    background-color: $color-bg;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9999999;
}

#loading-animation {
  position: absolute;
  margin: auto;
  width: 566px;
  height: 268px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../images/splash-screen.svg');
  background-size: 100%;

  #e-logo {
    width: 106px;
    height: 106px;
    position: absolute;
    margin: auto;
    top: 12px;
    bottom: 0;
    left: 0;
    right: 43px;
    @include animation(spin 3s linear infinite);
    background-image: url('../images/logo.svg');
    background-size: 100%;
  }
  #e-arrow {
    width: 33px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 100px;
    background-image: url('../images/splash-arrow.svg');
    background-size: 100%;
    @include animation(pulse 2.5s linear infinite 1.5s);
    opacity: 0;

    &:nth-of-type(2) {
      right: 30px;
      @include animation(pulse 2.5s linear infinite 1s);
    }
    &:nth-of-type(3) {
      right: 60px;
      @include animation(pulse 2.5s linear infinite 0.5s);
    }
  }
}
@include keyframes(spin) { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@include keyframes(pulse) { 100% { opacity: 1; } }