* {
    box-sizing: border-box;
}
body {
    color: green;
    overflow: hidden;
}

h1 {
    position: absolute;
    left: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    font-family: 'Poiret One', cursive;
}

.c-borders div {
    position: absolute;
    background-color: #000;
}

.c-borders div.border-top,
.c-borders div.border-bottom  {
    width: 100%;
    height: 25px;
    background-image: url(../img/desktop/oedipus-wing-right.svg);
    border-left: 25px solid black;
    border-right: 25px solid black;
    z-index: 10;
}

.c-borders div.border-left,
.c-borders div.border-right  {
    width: 25px;
    height: 100%;
    background-image: url(../img/desktop/oedipus-wing-down.svg);
    border-top: 25px solid black;
    border-bottom: 25px solid black;
    z-index: 10;
}

.c-borders div.border-top {
    top: 0;
}

.c-borders div.border-right  {
    right: 0;
}

.c-borders div.border-bottom  {
    bottom: 0;
}

.c-borders div.border-left {
    left: 0;
}

.up {
    left: 45%;
}

.down {
    left: 55%;
}

.events {
    left: 65%;
}

.main {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

/*.rectangle {*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*left: 50px;*/
    /*top: 100px;*/
    /*background-color: black;*/
/*}*/

/*.triangle {*/
    /*border-bottom: 100px solid red;*/
    /*border-right: 100px solid transparent;*/
    /*border-left: 100px solid transparent;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*right: -150px;*/
    /*top: 100px;*/
/*}*/

.c-brewing-wrapper {
    position: relative;
    max-height: 1240px;
    height: 100%;
}

.c-brewing-background-inner {
    position: absolute;
    top: -20vh;
    left: -2000px;
    width: 12000px;
    height: 920px;
    background-image: url(../img/desktop/bg-canals_04.png),url(../img/desktop/bg-canals_01.png),url(../img/desktop/bg-canals_02.png),url(../img/desktop/bg-canals_03.png),url(../img/desktop/bg-canals_04.png),url(../img/desktop/bg-canals_01.png);
    background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
    background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
    background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
    /* background-size: 2000px 920px,2000px 920px,2000px 920px,2000px 920px,2000px 920px,2000px 920px; */
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
}