* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  color: green;
  overflow: hidden;
}

h1 {
  position: absolute;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
  font-family: 'Poiret One', cursive;
}

.c-borders {
  .border {
    position: absolute;
    background-color: #000;

    &.border-top {
      top: 0;
      @include border-top-bottom();
    }

    &.border-right {
      right: 0;
      @include border-right-left();
    }

    &.border-bottom {
      bottom: 0;
      @include border-top-bottom();
    }

    &.border-left {
      left: 0;
      @include border-right-left();
    }
  }
}

.events,
.up,
.down,
.bg-position {
  z-index: $z-5;
  display: none;
}

.logo {
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: $z-5;

  img {
    width: 50px;
  }
}

.up {
  left: 45%;
}

.down {
  left: 55%;
}

.events {
  left: 65%;
}

.bg-position {
  left: 70%;
}

.main {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.c-brewing-wrapper {
  position: relative;
  height: 1240px;
}

.c-brewing-background-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2000px;
  width: 12000px;
  height: 900px;
  background-image: url(../images/desktop/oedipus-step-4-settling-bottling.png),url(../images/desktop/oedipus-step-1-milling.png),url(../images/desktop/oedipus-step-2-mashing.png),url(../images/desktop/oedipus-step-3-boiling-fermenting.png),url(../images/desktop/oedipus-step-4-settling-bottling.png),url(../images/desktop/oedipus-step-1-milling.png);
  background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  background-size: 2000px 900px,2000px 900px,2000px 900px,2000px 900px,2000px 900px,2000px 900px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d( 0px, 0px, 0px);
}
