* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  position: absolute;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
  font-family: 'Poiret One', cursive;
}

.c-borders {
  .border {
    position: absolute;
    background-color: #000;

    &.border-top {
      top: 0;
      @include border-top-bottom();
    }

    &.border-right {
      right: 0;
      @include border-right-left();
    }

    &.border-bottom {
      bottom: 0;
      @include border-top-bottom();
    }

    &.border-left {
      left: 0;
      @include border-right-left();
    }
  }
}

.bg-position {
  z-index: $z-5;
}

.logo {
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: $z-5;

  img {
    width: 50px;
  }
}

.bg-position {
  left: 10%;
  bottom: 0px;
}

.main {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.c-brewing-wrapper {
  position: relative;
  height: 1240px;
}

.c-brewing-background-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2000px;
  width: 12000px;
  height: 900px;
  //background-image: url(../images/desktop/oedipus-step-4-bottling-exploding.png),url(../images/desktop/oedipus-step-1-cloud-milmash.png),url(../images/desktop/oedipus-step-2-boiling-cooling.png),url(../images/desktop/oedipus-step-3-cooling-fermenting.png),url(../images/desktop/oedipus-step-4-bottling-exploding.png),url(../images/desktop/oedipus-step-5-bottling-exploding.png);
  //background-image: url(../images/desktop/test/oedipus-step-5-bottling-exploding.png),url(../images/desktop/test/oedipus-step-1-cloud-milmash.png),url(../images/desktop/test/oedipus-step-2-millmash-boiling.png),url(../images/desktop/test/oedipus-step-3-cooling.png),url(../images/desktop/test/oedipus-step-4-fermenting-bottling.png),url(../images/desktop/test/oedipus-step-5-bottling-exploding.png);
  //background-image: url(../images/desktop/test/oedipus-step-5-bottling-exploding2.png),url(../images/desktop/test/oedipus-step-1-cloud-milmash2.png),url(../images/desktop/test/oedipus-step-2-millmash-boiling2.gif),url(../images/desktop/test/oedipus-step-3-cooling2.gif),url(../images/desktop/test/oedipus-step-4-fermenting-bottling2.gif),url(../images/desktop/test/oedipus-step-5-bottling-exploding2.png);
  //background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  //background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  //background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  //background-size: 2000px 900px,2000px 900px,2000px 900px,2000px 900px,2000px 900px,2000px 900px;
  //background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d( 0px, 0px, 0px);
}

.c-brewing-background-inner-top {
  position: absolute;
  top: 0;
  left: -2000px;
  width: 12000px;
  height: 300px;
  background-image: url(../images/desktop/test/film-top/05.png),url(../images/desktop/test/film-top/01.png),url(../images/desktop/test/film-top/02.png),url(../images/desktop/test/film-top/03.png),url(../images/desktop/test/film-top/04.png),url(../images/desktop/test/film-top/05.png);
  background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  background-size: 2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d( 0px, 0px, 0px);
  pointer-events: none;
}

.c-brewing-background-inner-bottom {
  width: 12000px;
  height: 300px;
  position: absolute;
  top: calc(100vh - 300px);
  left: -2000px;
  background-image: url(../images/desktop/test/film-bottom/05.png),url(../images/desktop/test/film-bottom/01.png),url(../images/desktop/test/film-bottom/02.png),url(../images/desktop/test/film-bottom/03.png),url(../images/desktop/test/film-bottom/04.png),url(../images/desktop/test/film-bottom/05.png);
  background-position: 0 0,2000px 0,4000px 0,6000px 0,8000px 0,10000px 0;
  background-position-x: 0px, 2000px, 4000px, 6000px, 8000px, 10000px;
  background-position-y: 0px, 0px, 0px, 0px, 0px, 0px;
  background-size: 2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px,2000px 300px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  transform: translate3d( 0px, 0px, 0px);
  pointer-events: none;
}
.film-related {
  width: 12000px;
  height: 500px;
  position: absolute;
  top: calc(50vh - 250px);
  background-color: rgba(0,0,0,.2);
  transform: translate3d( 0px, 0px, 0px);
  pointer-events: none;
}

.intro {
  width: 100%;
  height: 400px;
}

.e-title {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  font-size: 32px;
  transform: translateX(-50%);
  left: 50%;
}

svg.bg {
  width: 500px;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}