
// basic colors
$color-white: #fff;
$color-black: #000;
$color-bg: #fbf8f1;

// oedipus colors
$color-oedipus-green: #a3d01a;
$color-oedipus-yellow: #f9df00;
$color-oedipus-blue-dark: #4d509b;
$color-oedipus-pink: #ff98b5;
$color-oedipus-blue: #4998d2;
$color-oedipus-pink-dark: #ca447f;
$color-oedipus-orange: #ff8338;
