
body {
  //position: absolute; /* Fixes strange scroll overflow */
  background-color: $color-bg;
  overflow: hidden;

  @media screen and (max-device-width: 1024px), only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (orientation : landscape) { // if device is mobile or device is portrait
    //-moz-transform: scale(0.5, 0.5); /* Moz-browsers */
    //zoom: 0.5; /* Other non-webkit browsers */
    //zoom: 50%; /* Webkit browsers */
    .c-boiling,
    .c-bottling-container,
    .c-magic-cloud,
    .c-cooling-container,
    .c-milling-mashing,
    .c-fermenting,
    .c-end-pop,
    .c-cloud-bg-sprite {
      transform: scale(0.6,0.6);
    }
    .c-cloud-bg-sprite {
      transform: scale(0.6,0.6) !important;
    }
    // all sprites
    .c-sperma,
    .c-sun,
    .c-nipple,
    .c-meteor,
    .c-zigzag-one,
    .c-zigzag-two,
    .c-zigzag-three,
    .c-zigzag-four,
    .c-zigzag-five,
    .c-burst,
    .c-pumping {
      display: none !important;
    }

    // too heavy for mobile
    .c-magic-cloud {
      background: none;
    }

    // aligning the face with the sprite for mobile
    .c-action {
      &.initial {
        svg#c-cloud-travel {
          top: 18px !important;
          right: 31px !important;
        }
      }

      &.milled-mashed {
        svg#c-cloud-millmash {
          top: -4px !important;
          right: 21px !important;
        }
      }

      &.boiling {
        svg#c-cloud-boil {
          top: -7px !important;
          left: 53px !important;
        }
      }

      &.cooling {
        &.right {
          svg#c-cloud-cool-right {
            top: 17px !important;
            left: 52px !important;
          }
        }
        &.left {
          svg#c-cloud-cool-left {
            top: 5px !important;
            left: 40px !important;
          }
        }
      }

      &.fermenting {
        svg#c-cloud-fermenting {
          top: -16px !important;
          left: 54px !important;
        }
      }
    }

    .c-plane {
      display: none !important;
    }

    .c-cloud-bg-sprite {
      background-image: url('../images/desktop/action-item/animation_spritesheet_75f_173x135_13875_optimized.png') !important;
      animation: none !important;
    }

    /* FIXING THE PIPE START */
    div.e-film-pipes {
      width: 5249px !important;
      height: 300px !important;
      //position: absolute;
      //pointer-events: none;
      top: calc(50vh - 166px) !important;
      left: 1800px !important;
      background-image: url(../images/desktop/test/brewing_pipes_mobile.svg) !important;
      //background-size: 100%;
      //background-position: left center;
      //background-repeat: no-repeat;
      //z-index: 2;
    }
    .c-beer-fill-container {
      >svg {
        top: calc(50vh - 118px);
        left: 1797px;
      }
    }
    /* FIXING THE PIPE END */
  }

  @media screen and (max-height: 845px) {
    .c-brewing-background-inner-top {
      top: -50px;
    }
    .c-brewing-background-inner-bottom {
      top: calc(100vh - 250px);
    }
  }
  @media screen and (max-height: 730px) {
    .c-brewing-background-inner-top {
      top: -100px;
    }
    .c-brewing-background-inner-bottom {
      top: calc(100vh - 200px);
    }
  }
  @media screen and (max-height: 630px) {
    .c-brewing-background-inner-top {
      top: -150px;
    }
    .c-brewing-background-inner-bottom {
      top: calc(100vh - 150px);
    }
  }
  @media screen and (max-height: 530px) {
    .c-brewing-background-inner-top {
      top: -200px;
    }
    .c-brewing-background-inner-bottom {
      top: calc(100vh - 100px);
    }
  }
}