
body {
  //position: absolute; /* Fixes strange scroll overflow */

  @media screen and (max-device-width: 1024px), only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (orientation : landscape) { // if device is mobile or device is portrait
    //-moz-transform: scale(0.5, 0.5); /* Moz-browsers */
    //zoom: 0.5; /* Other non-webkit browsers */
    //zoom: 50%; /* Webkit browsers */
    .c-boiling,
    .c-bottling-container,
    .c-magic-cloud,
    .c-cooling-container,
    .c-milling-mashing,
    .c-fermenting,
    .c-end-pop,
    .c-cloud-bg-sprite {
      transform: scale(0.6,0.6);
    }

    // too heavy for mobile
    .c-magic-cloud {
      background: none;
    }

    // aligning the face with the sprite for mobile
    .c-action {
      &.initial {
        svg#c-cloud-travel {
          top: 18px !important;
          right: 31px !important;
        }
      }

      &.milled-mashed {
        svg#c-cloud-millmash {
          top: -4px !important;
          right: 21px !important;
        }
      }

      &.boiling {
        svg#c-cloud-boil {
          top: -7px !important;
          left: 53px !important;
        }
      }

      &.cooling {
        &.right {
          svg#c-cloud-cool-right {
            top: 17px !important;
            left: 52px !important;
          }
        }
        &.left {
          svg#c-cloud-cool-left {
            top: 5px !important;
            left: 40px !important;
          }
        }
      }

      &.fermenting {
        svg#c-cloud-fermenting {
          top: -16px !important;
          left: 54px !important;
        }
      }
    }

    .e-energy {
      display: none !important;
    }
  }

  background-color: $color-bg;
  overflow: hidden;
}