
body {
  //position: absolute; /* Fixes strange scroll overflow */

  @media screen and (max-device-width: 480px) {
    -moz-transform: scale(0.5, 0.5); /* Moz-browsers */
    zoom: 0.5; /* Other non-webkit browsers */
    zoom: 50%; /* Webkit browsers */
  }
  background-color: red;
  overflow: hidden;
}