
.c-meteor {
  width: 317px;
  height: 175px;
  position: absolute;
  background-image: url('../images/desktop/foreground/meteor_spritesheet_16f_317x175_5072_optimised.png');
  animation: meteor 0.4s steps(16) infinite;
  pointer-events: none;
}

@keyframes meteor {
  from { background-position: 0; }
  to { background-position: 5072px; }
}