
.c-mouse {
    position: absolute;
    display: block;
    width: 151px;
    height: 152px;
    background: url(../images/desktop/mouse.png) left top no-repeat;
    background-size: 151px auto;

  &.right {
    background: url(../images/desktop/mouse-right.png) left top no-repeat;
    background-size: 151px auto;
  }
}