
.c-nipple {
  width: 200px;
  height: 199px;
  position: absolute;
  background-image: url('../images/desktop/foreground/nipple_spritesheet_16f_200x199_3200.png');
  animation: nipple 2.5s steps(16) infinite;
  pointer-events: none;
}

@keyframes nipple {
  from { background-position: 0; }
  to { background-position: 3200px; }
}