
.c-nipple {
  width: 350px;
  height: 349px;
  position: absolute;
  background-image: url('../images/desktop/step5/nipple_spritesheet_f_350x349.png');
  animation: nipple 6.5s steps(61) infinite;
}

@keyframes nipple {
  from { background-position: 0; }
  to { background-position: 21960px; }
}