
.c-sun {
  width: 391px;
  height: 328px;
  position: absolute;
  background-image: url('../images/desktop/step5/sun_spritesheet_12f_391x328.png');
  animation: sun 1.5s steps(12) infinite;
}

@keyframes sun {
  from { background-position: 0; }
  to { background-position: 4812px; }
}
