
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "animation/css/base.css" %}">
    <script src="{% static "animation/js/bootstrap.js" %}"></script>
</head>
<body>

    <header>home</header>

    <section class="map"></section>

    <section class="address"></section>

    <footer></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
</bodystyle>
</html>