{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta property="og:description" content="">
    <title>Oedipus Brewing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    <!-- css included -->
    <link rel="stylesheet" href="{% static "animation/css/normalize.mind41d.css" %}">
    <link rel="stylesheet" href="{% static "animation/css/base.css" %}">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "animation/js/jquery.event.move.js" %}"></script>
</head>

<body>
{#<div class="c-borders">#}
{#    <div class="border border-top"></div>#}
{#    <div class="border border-right"></div>#}
{#    <div class="border border-bottom"></div>#}
{#    <div class="border border-left"></div>#}
{#</div>#}
<div class="logo">
    <img src="{% static "animation/images/oedipus_logo.svg" %}" alt="">
</div>
<h1 class="bg-position">Bg Position</h1>
<button class="c-auto-scroll-button">I'm <br> lazy</button>
{#<div class="c-navigation">#}
{#    <div class="e-navigation-line"></div>#}
{#    <div class="e-navigation-step e-step-1"></div>#}
{#    <div class="e-navigation-step e-step-2"></div>#}
{#    <div class="e-navigation-step e-step-3"></div>#}
{#    <div class="e-navigation-step e-step-4"></div>#}
{#    <div class="e-navigation-step e-step-5"></div>#}
{#    <img src="{% static "animation/images/desktop/beer_bottle.svg" %}" alt="" class="e-navigation-bottle">#}
{#</div>#}

<div class="main">

    <div class="c-brewing-wrapper">
        <section class="c-brewing">
            <figure class="c-brewing-background">
                <figure class="c-brewing-background-inner"></figure>
                <div class="c-brewing-background-inner-top"></div>
                <div class="c-brewing-background-inner-bottom"></div>
            </figure>

            <figure class="c-action-container">
                <figure class="c-action">
                </figure>
            </figure>

            <figure class="c-brewing-foreground">
                <figure class="c-flying-lemon">
                    <div class="relative-container">
                        <div class="e-lemon"></div>
                        <div class="e-wings"></div>
                    </div>
                </figure>

                <figure class="c-mouse right"></figure>

                <div class="film-related">
                    <figure class="c-end-pop replica">
                    </figure>

                    <figure class="c-magic-cloud original">
                    </figure>

                    <figure class="c-milling-mashing">
                        <div class="e-cloud">
                        </div>

                        <div class="e-grain-container">
                            <div class="e-grain e-grain-1"></div>
                            <div class="e-grain e-grain-2"></div>
                            <div class="e-grain e-grain-3"></div>
                            <div class="e-grain e-grain-4"></div>
                            <div class="e-grain e-grain-5"></div>
                        </div>

                        <div class="e-milling-container">
                            <div class="e-cog-wheel-left"></div>
                            <div class="e-cog-wheel-right"></div>
                        </div>
                    </figure>

                    <figure class="c-boiling">
                    </figure>

                    <figure class="c-cooling-container">
                      <div class="c-frame-snow"></div>
                    </figure>

                    <figure class="c-fermenting">
                    </figure>

                    <figure class="c-bottling-container">
                        <div class="e-label"></div>
                    </figure>

                    <figure class="c-end-pop original">

                        <div class="c-buttons">
                            <div class="button-block">
                                <a class="button" href="">Replay</a>
                            </div>
                            <div class="button-block">
                                <a class="button" href="">Email</a>
                            </div>
                            <div class="button-block">
                                <a class="button" href="">Share</a>
                            </div>
                        </div>
                    </figure>

                    <figure class="c-magic-cloud replica">
                    </figure>
                </div>

            </figure>
        </section>
    </div>
</div>


<!-- Minified js included -->
<!--<script src="static/js/bafter_load.js"></script>-->
<script src="{% static "animation/js/deb_throttle.js" %}"></script>
<script src="{% static "animation/js/main.js" %}"></script>
</body>

</html>
