{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta property="og:description" content="">
    <title>Oedipus Brewing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    TODO remove these two cache lines when deploying  #}
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    <!-- css included -->
    <link rel="stylesheet" href="{% static "animation/css/normalize.mind41d.css" %}">
    <link rel="stylesheet" href="{% static "animation/css/base.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script> {# cdn for timeLineMax tweenMax cssPlugin etc.#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "animation/js/jquery.event.move.js" %}"></script>
</head>

<body>
<div id="preloader">
    <div id="loading-animation">
{#         animation goes here #}
    </div>
</div>

<div class="logo">
    <img src="{% static "animation/images/oedipus_logo.svg" %}" alt="">
</div>
<h1 class="bg-position">Bg Position</h1>
<button class="c-auto-scroll-button">I'm <br> lazy</button>
<div class="c-portrait-overlay">
    <div class="e-flip-message">
        please <br> turn <br> your device <br> to <br> landscape
    </div>
</div>

<div class="svg-container" style="display: none;">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px">
      <symbol id="wave">
        <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
        <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
        <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
        <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
      </symbol>
    </svg>
</div>

<div class="main">

    <div class="c-brewing-wrapper">
        <section class="c-brewing">
            <figure class="c-brewing-background">
                <figure class="c-brewing-background-inner"></figure>
                <div class="c-brewing-background-inner-top"></div>
                <div class="c-brewing-background-inner-bottom"></div>
            </figure>

            <figure class="c-action-container">
                <figure class="c-action">
                </figure>
            </figure>

            <figure class="c-brewing-foreground">
                <figure class="c-flying-lemon">
                    <div class="relative-container">
                        <div class="e-lemon"></div>
                        <div class="e-wings"></div>
                    </div>
                </figure>

                <figure class="c-mouse right"></figure>

                <div class="film-related">
                    <figure class="c-end-pop replica unloaded">
                    </figure>

                    <figure class="c-magic-cloud original">
                        <div class="e-energy">
                            <div class="e-flumpje-item-container">
                                <div class="e-flumpje-item flumpje-item-1"></div>
                                <div class="e-flumpje-item flumpje-item-2"></div>
                                <div class="e-flumpje-item flumpje-item-3"></div>
                                <div class="e-flumpje-item flumpje-item-4"></div>
                                <div class="e-flumpje-item flumpje-item-5"></div>
                                <div class="e-flumpje-item flumpje-item-6"></div>
                                <div class="e-flumpje-item flumpje-item-7"></div>
                                <div class="e-flumpje-item flumpje-item-8"></div>
                                <div class="e-flumpje-item flumpje-item-9"></div>
                                <div class="e-flumpje-item flumpje-item-10"></div>
                            </div>
                        </div>
                    </figure>

                    <figure class="c-milling-mashing">
                        <div class="e-cloud">

                        </div>

                        <div class="e-grain-container">
                            <div class="e-grain e-grain-1"></div>
                            <div class="e-grain e-grain-2"></div>
                            <div class="e-grain e-grain-3"></div>
                            <div class="e-grain e-grain-4"></div>
                            <div class="e-grain e-grain-5"></div>
                        </div>

                        <div class="e-milling-container">
                            <div class="e-cog-wheel-left"></div>
                            <div class="e-cog-wheel-right"></div>
                        </div>

                        <div class="e-milled-grain">
                            <b></b><b></b><b></b>
                            <b></b><b></b><b></b>
                            <b></b><b></b><b></b>
                        </div>

                    </figure>

                    <figure class="c-boiling">
                        <div class="e-hops-bag">
                        </div>
                        <div class="e-hops-item-container">
                            <div class="e-hops-item hop-item-1"></div>
                            <div class="e-hops-item hop-item-2"></div>
                            <div class="e-hops-item hop-item-3"></div>
                            <div class="e-hops-item hop-item-4"></div>
                            <div class="e-hops-item hop-item-5"></div>
                        </div>

                        <div class="e-steam-top">
                            steam sprite (+-3 images)
                        </div>

                        <div class="e-boiling-tank">
                            <div class="water">
                                <svg viewBox="0 0 560 20" class="wave back">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wave"></use>
                                </svg>
                                <svg viewBox="0 0 560 20" class="wave front">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wave"></use>
                                </svg>
                                <div class="e-boiling-items-container">
                                    <div class="e-boil-item boil-item-1"></div>
                                    <div class="e-boil-item boil-item-2"></div>
                                    <div class="e-boil-item boil-item-3"></div>
                                    <div class="e-boil-item boil-item-4"></div>
                                    <div class="e-boil-item boil-item-5"></div>
                                    <div class="e-boil-item boil-item-6"></div>
                                    <div class="e-boil-item boil-item-7"></div>
                                </div>
                            </div>
                        </div>

                        <div class="e-title">BOILING</div>
                    </figure>

                    <figure class="c-cooling-container">
                        <div class="c-frame-snow"></div>
                        <div class="e-title">COOLING</div>
                    </figure>

                    <figure class="c-fermenting">
                    <div class="e-title">FERMENTING</div>
                        <div class="c-fermenting-foreground">
                            <div class="e-note"></div>
                            <div class="e-drum"></div>
                            <div class="e-flumpje"></div>
                            <div class="e-drink"></div>
                        </div>
                    </figure>

                    <figure class="c-bottling-container">
                        <div class="e-title">BOTTLING</div>
                    </figure>

                    <figure class="c-end-pop original">

                        <div class="c-buttons">
                            <div class="button-block">
                                <a class="button" href="">Replay</a>
                            </div>
                            <div class="button-block">
                                <a class="button" href="">Email</a>
                            </div>
                            <div class="button-block">
                                <a class="button" href="">Share</a>
                            </div>
                        </div>
                        <div class="e-title">END-POP</div>
                    </figure>

                    <figure class="c-magic-cloud replica unloaded">
                    </figure>
                </div>

            </figure>
        </section>
    </div>
</div>


<!-- Minified js included -->
<!--<script src="static/js/bafter_load.js"></script>-->
<script src="{% static "animation/js/deb_throttle.js" %}"></script>
<script src="{% static "animation/js/main.js" %}"></script>
<script>
$(window).load(function() {
// will first fade out the loading animation
    jQuery("#loading-animation").fadeOut();
        // will fade out the whole DIV that covers the website.
    jQuery("#preloader").delay(1000).fadeOut("slow");
    });
</script>
</body>

</html>
