{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta property="og:description" content="">
    <title>Oedipus Brewing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    TODO remove these two cache lines when deploying  #}
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    <!-- css included -->
    <link rel="stylesheet" href="{% static "animation/css/normalize.mind41d.css" %}">
    <link rel="stylesheet" href="{% static "animation/css/base.css" %}">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "animation/js/jquery.event.move.js" %}"></script>
</head>

<body>
{#<div class="c-borders">#}
{#    <div class="border border-top"></div>#}
{#    <div class="border border-right"></div>#}
{#    <div class="border border-bottom"></div>#}
{#    <div class="border border-left"></div>#}
{#</div>#}
<div class="logo">
    <img src="{% static "animation/images/oedipus_logo.svg" %}" alt="">
</div>
<h1 class="bg-position">Bg Position</h1>
<button class="c-auto-scroll-button">I'm <br> lazy</button>
<div class="c-portrait-overlay">
    <div class="e-flip-message">
        please <br> turn <br> your device <br> to <br> landscape
    </div>
</div>

<div class="svg-container" style="display: none;">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px">
      <symbol id="wave">
        <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
        <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
        <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
        <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
      </symbol>
    </svg>
{#    <svg height="0" width="0">#}
{#        <clipPath id="svgClipPathBoil">#}
{#            <path d="M137.8,111.1 C137.4,117.4 136.5,118.7 129.6,119.2 C110,120.5 90.4,121.7 71.2,122.9 C51,121.8 31.2,120.8 11.4,119.5 C1.5,118.9 0.9,118.2 0.9,108.6 C0.9,92.3 0.8,76 1,59.6 C1.1,46.2 5.6,40.2 18.3,35.4 C19.8,34.8 21.8,34 22.3,32.7 C26,23.9 35.2,25 41.8,21.4 C42.4,21.1 43.6,21.2 44.2,21.7 C46.8,23.7 49.5,24.5 51.8,21.8 C54.5,18.6 58,15.2 58.6,11.5 C60.3,1 59.8,1 70.4,1 L74.9,1 C78.5,0.9 79.4,2.7 79.9,6.2 C80.9,13.3 85.6,22.7 94.9,26.1 C104.1,29.4 113.3,32.8 122.5,36 C131.1,39 137.4,47.7 137.7,57.5 C137.9,62.5 137.7,67.5 137.8,72.5 L137.8,111.1 L137.8,111.1 Z" id="Shape"></path>#}
{#        </clipPath>#}
{#    </svg>#}
</div>

{#<div class="c-navigation">#}
{#    <div class="e-navigation-line"></div>#}
{#    <div class="e-navigation-step e-step-1"></div>#}
{#    <div class="e-navigation-step e-step-2"></div>#}
{#    <div class="e-navigation-step e-step-3"></div>#}
{#    <div class="e-navigation-step e-step-4"></div>#}
{#    <div class="e-navigation-step e-step-5"></div>#}
{#    <img src="{% static "animation/images/desktop/beer_bottle.svg" %}" alt="" class="e-navigation-bottle">#}
{#</div>#}

<div class="main">

    <div class="c-brewing-wrapper">
        <section class="c-brewing">
            <figure class="c-brewing-background">
                <figure class="c-brewing-background-inner"></figure>
                <div class="c-brewing-background-inner-top"></div>
                <div class="c-brewing-background-inner-bottom"></div>
            </figure>

            <figure class="c-action-container">
                <figure class="c-action">
                </figure>
            </figure>

            <figure class="c-brewing-foreground">
                <figure class="c-flying-lemon">
                    <div class="relative-container">
                        <div class="e-lemon"></div>
                        <div class="e-wings"></div>
                    </div>
                </figure>

                <figure class="c-mouse right"></figure>

                <div class="film-related">
                    <figure class="c-end-pop replica unloaded">
                    </figure>

                    <figure class="c-magic-cloud original">
                    </figure>

                    <figure class="c-milling-mashing">
                        <div class="e-cloud">
                        </div>

                        <div class="e-grain-container">
                            <div class="e-grain e-grain-1"></div>
                            <div class="e-grain e-grain-2"></div>
                            <div class="e-grain e-grain-3"></div>
                            <div class="e-grain e-grain-4"></div>
                            <div class="e-grain e-grain-5"></div>
                        </div>

                        <div class="e-milling-container">
                            <div class="e-cog-wheel-left"></div>
                            <div class="e-cog-wheel-right"></div>
                        </div>

                        <div class="e-milled-grain">
                            <b></b><b></b><b></b>
                            <b></b><b></b><b></b>
                            <b></b><b></b><b></b>
                        </div>

                    </figure>

                    <figure class="c-boiling">
                        <div class="e-hops-bag">
                        </div>
                        <div class="e-hops-item-container">
                            <div class="e-hops-item hop-item-1"></div>
                            <div class="e-hops-item hop-item-2"></div>
                            <div class="e-hops-item hop-item-3"></div>
                            <div class="e-hops-item hop-item-4"></div>
                            <div class="e-hops-item hop-item-5"></div>
                        </div>

                        <div class="e-steam-top">
                            steam sprite (+-3 images)
                        </div>

                        <div class="e-boiling-tank">
                            <div class="water">
                                <svg viewBox="0 0 560 20" class="wave back">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wave"></use>
                                </svg>
                                <svg viewBox="0 0 560 20" class="wave front">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wave"></use>
                                </svg>
                                <div class="e-boiling-items-container">
                                    <div class="e-boil-item boil-item-1"></div>
                                    <div class="e-boil-item boil-item-2"></div>
                                    <div class="e-boil-item boil-item-3"></div>
                                    <div class="e-boil-item boil-item-4"></div>
                                    <div class="e-boil-item boil-item-5"></div>
                                    <div class="e-boil-item boil-item-6"></div>
                                    <div class="e-boil-item boil-item-7"></div>
                                </div>
                            </div>
                        </div>

                        <div class="e-title">BOILING</div>
                    </figure>

                    <figure class="c-cooling-container">
                        <div class="c-frame-snow"></div>
                        <div class="e-title">COOLING</div>
                    </figure>

                    <figure class="c-fermenting">
                        <div class="e-title">FERMENTING</div>
                    </figure>

                    <figure class="c-bottling-container">
                        <div class="e-title">BOTTLING</div>
                    </figure>

                    <figure class="c-end-pop original">

                        <div class="c-buttons">
                            <div class="button-block">
                                <a class="button" href="">Replay</a>
                            </div>
                            <div class="button-block">
                                <a class="button" href="">Email</a>
                            </div>
                            <div class="button-block">
                                <a class="button" href="">Share</a>
                            </div>
                        </div>
                        <div class="e-title">END-POP</div>
                    </figure>

                    <figure class="c-magic-cloud replica unloaded">
                    </figure>
                </div>

            </figure>
        </section>
    </div>
</div>


<!-- Minified js included -->
<!--<script src="static/js/bafter_load.js"></script>-->
<script src="{% static "animation/js/deb_throttle.js" %}"></script>
<script src="{% static "animation/js/main.js" %}"></script>
</body>

</html>
