
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "animation/css/base.css" %}">
    <script defer src="{% static "animation/js/bootstrap.js" %}"></script>
</head>
<body style='overflow:visible;width:auto;'>

    <header class="intro">
        <nav class="menu">
           <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
           <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
          </label>

           <a href="#" class="menu-item blue"> <i class="fa fa-anchor"></i> </a>
           <a href="#" class="menu-item green"> <i class="fa fa-coffee"></i> </a>
           <a href="#" class="menu-item red"> <i class="fa fa-heart"></i> </a>
           <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
           <a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a>
           <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
        </nav>
    </header>

    <main class="c-quotes-grid">
        <div id="grid-items-container">
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Amsterdam pays alcoholics in beer. <br> For cleaning the city streets, local alcoholics <br> get 10 Euros, half a packet of rolling tobacco <br>and 5 beers as payment by<br> a government-funded organization.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>

            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Beer is one <br>of the world's oldest prepared beverages,<br> possibly dating back to the <br>early Neolithic or 9500 BC.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>The Ancient <br>Egyptians built the <br>pyramids under the influence.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Beer commercials <br>in the US aren't really<br> allowed to show people<br> actually drinking the beer.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>The study of beer<br> and beer-making even <br>has an official scientific name <br>– zythology.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>The most beer-drinking country<br> in the world<br> is the Czech Republic.<br> (akhm...alcoholics)</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-vertical-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>The world´s most <br>expensive beer is Belgian's <br>"Vielle Bon Secours“. <br>One bottle costs around 1000 <br>American dollars.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Old Vikings believed <br>that in their heaven called Valhalla, <br>there is a giant goat whose udders <br>provided unlimited supply <br>of beer.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Nowadays, <br>there are about 400 types of beer <br>in the world. Belgium is the country <br>that has the most individual<br> beer brands.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Ancient Babylonians<br> were so serious about brewing beer <br>that if anyone brewed a bad batch,<br> they would drown him in it <br>as a punishment.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Cenosillicaphobia <br>is the fear of an empty beer glass.<br> Terrifying phobia indeed.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>The first<br> professional brewers <br>were all women called brewsters.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Beer's hops <br>are in the same family <br>of flowering plants <br>as marijuana.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-vertical-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>Beer strengthens bones.<br> It is rich in silicon <br>that increases calcium <br>deposits and minerals for bone tissue.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>American president <br>George Washington had his <br>own brewhouse on the<br> grounds of Mount Vernon.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>eer is the world’s most <br>widely consumed alcoholic beverage <br>and the third-most popular <br>drink overall (after water and tea).</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
            <div class="c-quote-grid-item c-quote-sizer">
                <div class="c-vertical-sizer">
                    <div class="e-inner" style="top:5%">
                        <h2>In 1814,<br> almost 400,000 gallons of<br> beer flooded several <br>streets in London after a huge vat <br>ruptured in the parish of <br>St. Giles.</h2>
                        <h4 class="v-above">- Samuel L.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
</body>
</html>
