
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "animation/css/base.css" %}">
    <script defer src="{% static "animation/js/bootstrap.js" %}"></script>
</head>
<body style='overflow:visible;width:auto;'>

    <header class="intro">home</header>

    <main class="c-quotes-grid">
        <div id="grid-items-container">
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-itemc-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-vertical-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-vertical-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
            <div class="c-quote-grid-item c-quote-sizer"></div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
</body>
</html>
